{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block, text_between_fields %}

{% block body_class %}order-create{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% call content_block(_("Select Shop"), "fa-building") %}
            <div class="form-group">
                <label for="">Shop</label>
                <select class="form-control" name="" id="">
                    <option value="">Shop</option>
                </select>
            </div>
            {% call text_between_fields() %}
                <p>Info about currency and taxes that are based on selected shop.</p>
            {% endcall %}
        {% endcall %}
        {% call content_block(_("Order Contents"), "fa-cubes") %}
            <p>Maybe info about lines? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa porro minima autem fuga veritatis praesentium.</p>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="cells">
                        <div class="line-cell line-type-select">
                            <label for="">Orderline type</label>
                            <select name="" id="" class="form-control">
                                <option value="">Product</option>
                            </select>
                        </div>
                        <div class="line-cell">
                            <a href="#">Product name<br><small>(SKU Here)</small></a>
                        </div>
                        <div class="line-cell">
                            <label for="">Qty</label>
                            <input type="number" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Base Unit Price</label>
                            <input type="text" class="form-control" readonly="" disabled>
                        </div>
                        <div class="line-cell">
                            <label for="">Discounted Unit Price</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Discount Percent</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Total discount amount</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Line Total</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell delete">
                            <button class="btn btn-sm text-danger" title="Remove line">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="cells">
                        <div class="line-cell line-type-select">
                            <label for="">Orderline type</label>
                            <select name="" id="" class="form-control">
                                <option value="">Other</option>
                            </select>
                        </div>
                        <div class="line-cell">
                            <label for="">Text</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Qty</label>
                            <input type="number" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Unit Price</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell">
                            <label for="">Total Price</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell delete">
                            <button class="btn btn-sm text-danger" title="Remove line">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="cells">
                        <div class="line-cell line-type-select">
                            <label for="">Orderline type</label>
                            <select name="" id="" class="form-control">
                                <option value="">Text/Comment</option>
                            </select>
                        </div>
                        <div class="line-cell">
                            <label for="">Text/Comment</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="line-cell delete">
                            <button class="btn btn-sm text-danger" title="Remove line">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn text-success">
                <i class="fa fa-plus"></i> Add new line
            </button>
        {% endcall %}
        {% call content_block(_("Customer Details"), "fa-user") %}
            <button class="btn btn-success">
                <i class="fa fa-user"></i> Select Existing Customer
            </button>
            <button class="btn btn-info">
                <i class="fa fa-user-plus"></i> New Customer
            </button>
            <hr>
            <label for="">
                <input type="checkbox"> Save customer details
            </label>
            <hr>
            <div>Form fields should look like customer details in admin</div>
            <div class="row">
                <div class="col-sm-6">
                    <fieldset>
                        <legend>Billing address</legend>
                        <br>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset>
                        <legend>Shipping address</legend>
                        <label for="">
                            <input type="checkbox" value=""> Copy fields
                        </label>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </fieldset>
                </div>
            </div>
        {% endcall %}
        {% call content_block(_("Shipping Method"), "fa-truck") %}
            <div class="form-group">
                <label for="">Select Shipping Method</label>
                <select name="" id="" class="form-control">
                    <option value="">Default</option>
                </select>
            </div>
        {% endcall %}
        {% call content_block(_("Payment Method"), "fa-credit-card") %}
            <div class="form-group">
                <label for="">Select Payment Method</label>
                <select name="" id="" class="form-control">
                    <option value="">Default</option>
                </select>
            </div>
        {% endcall %}

        <div class="row">
            <div class="col-sm-9 col-md-10 text-right">
                <h2><small>Total:</small> 1000,00€</h2>
            </div>
            <div class="col-sm-3 col-md-2">
                <button class="btn btn-block btn-success">
                    <i class="fa fa-check"></i> Proceed
                </button>
            </div>
        </div>

        <hr>

        <div class="content-block">
            <div class="content-wrap">
                <div class="content">
                    <div id="order-tool-container"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ static("shoop_admin/js/order-creator.js") }}"></script>
    <script>OrderCreator.init({{ config|json }})</script>
{% endblock %}
