{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block, info_row, content_with_sidebar %}

{% block content %}
    {% call content_with_sidebar(content_id="order_details") %}
        <div id="order_details">
            {% call content_block(_("Details & Status"), "fa-info-circle") %}
                <dl class="dl-horizontal">
                    {{ info_row(_("Order Number"), order.identifier) }}
                    {{ info_row(_("Order Date"), order.order_date|datetime) }}
                    {{ info_row(_("Reference"), order.reference_number) }}
                    {{ info_row(_("Label"), order.label) }}
                    {{ info_row(_("Customer"), order.customer, "#") }}
                    {{ info_row(_("Ordered by"), order.orderer, "#") }}
                    {{ info_row(_("Creator"), order.creator, "#") }}
                    {{ info_row(_("Phone"), order.phone, "tel:" ~ order.phone) }}
                    {{ info_row(_("Email"), order.email, "mailto:" ~ order.email) }}
                    {{ info_row(_("Tax number"), order.tax_number) }}
                    {{ info_row(_("Total Price (taxless)"), order.taxless_total_price|money) }}
                    {{ info_row(_("Total Price"), order.taxful_total_price|money) }}
                </dl>
                <hr>
                <dl class="dl-horizontal">
                    {{ info_row(_("Order Status"), order.get_status_display()) }}
                    {{ info_row(_("Payment Status"), order.get_payment_status_display()) }}
                    {{ info_row(_("Shipping Status"), order.get_shipping_status_display()) }}
                    {% set tracking_codes = order.get_tracking_codes() %}
                    {% if tracking_codes %}
                        {{ info_row(_("Tracking codes"), render_objects(tracking_codes)) }}
                    {% endif %}
                </dl>
            {% endcall %}

            {% if order.shipping_address_id or order.billing_address_id %}
                {% call content_block(_("Addresses"), "fa-map-marker") %}
                    <div class="row contact-addresses">
                        <div class="col-md-6 shipping-address">
                            <h4 class="underline"><i class="fa fa-truck"></i> {% trans %}Shipping address{% endtrans %}</h4>
                            {% for line in order.shipping_address %}
                                <p>{{ line }}</p>
                            {% else %}
                                <p><i class="fa fa-warning text-warning"></i> {% trans %}No shipping address defined.{% endtrans %}</p>
                            {% endfor %}
                        </div>
                        <div class="col-md-6 billing-address">
                            <h4 class="underline"><i class="fa fa-file-text"></i> {% trans %}Billing address{% endtrans %}</h4>
                            {% for line in order.billing_address %}
                                <p>{{ line }}</p>
                            {% else %}
                                <p><i class="fa fa-warning text-warning"></i> {% trans %}No billing address defined.{% endtrans %}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endcall %}
            {% endif %}

            {% call content_block(_("Order Contents"), "fa-file-text") %}
                {% include "shoop/admin/orders/_order_contents.jinja" with context %}
            {% endcall %}

            {% set payments=order.payments.all() %}
            {% if payments %}
                {% call content_block(_("Payments"), "fa-dollar") %}
                    {% include "shoop/admin/orders/_detail_payments.jinja" with context %}
                {% endcall %}
            {% endif %}

            {% call content_block(_("Log Entries"), "fa-pencil") %}
                {% include "shoop/admin/orders/_order_log_entries.jinja" with context %}
            {% endcall %}
        </div>
    {% endcall %}
{% endblock %}

{%- macro render_objects(objs) -%}
    {%- for obj in objs -%}
        {{- obj -}}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{%- endmacro -%}

{% block extra_js %}
<script>
    (function(){
        function toggleHidden(){
            $("#order-log-entries table").toggleClass("hidden");
            $("#order-log-entries #no-log-entries-text").toggleClass("hidden");
        }
        function prependRow(log){
            $("#order-log-entries tbody").prepend(
                "<tr><td>" + log.message + "</td><td>" + log.kind +
                "</td><td>" + log.created_on + "</td><td>" + log.user + "</td></tr>"
            );
        }
        $("#order-log-entries button").on("click", function(event){
            event.preventDefault();
            var $children = $("#order-log-entries tbody").children();
            var numEntries = $children.length;
            if(numEntries==0){
                toggleHidden();
            }
            else if(numEntries>12){
                $children.last().remove();
                $("#order-log-entries tbody")
            }
            $.ajax({
                type: "POST",
                url: "{{ url('shoop_admin:order.new-log-entry', pk=order.pk) }}",
                data: {
                    "message": $("#log-message").val(),
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                },
                success: function(data){
                    prependRow(data);
                    $("#log-message").val("");
                },
                error: function(){
                    alert("{% trans %}There was an error adding the log entry.{% endtrans %}")
                },
            });

        });
    })();
</script>
{% endblock %}
