{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import single_section_form with context %}

{% block content %}
    {% call single_section_form("permission_group_form", form) %}
        {{ bs3.field(form.name) }}
        {{ bs3.field(form.members) }}
        <div class="form-divider"></div>
        {% for module_name, permissions in form.get_module_permissions().items() %}
            <h2>{{ module_name }}</h2>
            {% for permission in permissions %}
                {{ bs3.field(form[permission]) }}
            {% endfor %}
        {% endfor %}
    {% endcall %}
{% endblock %}

{% block extra_js %}
    <script>
        (function() {
            $("input[type='checkbox']").on("change", function() {
                var name = $(this).attr('name');
                var desiredValue = $(this).is(":checked")
                $("input[name='" + name + "']").each(function() {
                    $(this).attr("checked", desiredValue);
                })
            })
        })();
    </script>
{% endblock %}
