{% if show_prices() %}
<li class="dropdown cart">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="menu-icon fa fa-shopping-cart"></i>
        <span class="hidden-xs">{% trans %}Cart{% endtrans %}</span>
        <span>({{ request.basket.product_count }})</span>
        <i class="dropdown-icon fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu cart">
        {% if request.basket.get_lines() %}
            <table class="table">
                <colgroup>
                    <col style="min-width: 180px;">
                    <col style="min-width: 90px;">
                </colgroup>
                <thead class="hidden-xs hidden-sm">
                    <tr>
                        <th>{% trans %}Items{% endtrans %}</th>
                        {% if show_prices() %}
                        <th class="text-right">{% trans %}Price{% endtrans %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            {% trans %}Total{% endtrans %}
                        </th>
                        {% if show_prices() %}
                        <th class="text-right">
                            {{ request.basket|total_price }}
                        </th>
                        {% endif %}
                    </tr>
                </tfoot>
                <tbody class="hidden-xs hidden-sm">
                    {% for line in request.basket.get_lines() %}
                        <tr>
                            <td>
                                {% set line_url = shuup.urls.get_url(line.product) %}
                                {{ line.quantity|number }} &times;
                                {% if line_url %}
                                    <a href="{{ line_url }}">{{ line.text }}</a>
                                {% else %}
                                    {{ line.text }}
                                {% endif %}
                            </td>
                            {% if show_prices() %}
                            <td class="text-right">{{ line|price }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url("shuup:basket") }}" class="btn btn-block btn-primary btn-view-cart">
                {% trans %}View cart{% endtrans %} <i class="fa fa-angle-double-right"></i>
            </a>
        {% else %}
            <span class="empty-cart"><i class="fa fa-exclamation-circle text-warning"></i> {% trans %}Your shopping cart is empty.{% endtrans %}</span>
        {% endif %}
    </div>
</li>
{% endif %}
