{% from "shoop/admin/macros/general.jinja" import content_block %}
{% set attr_form = form[form_def.name] %}
{% call content_block(_("Attributes"), "fa-tags") %}
    {% for field in attr_form %}
        {{ bs3.field(field) }}
    {% endfor %}
{% endcall %}
