{% from "shoop/admin/macros/general.jinja" import content_block %}
{% set shop_product_form = form[form_def.name] %}
{% set shop_name = shop_product_form.instance.shop.name %}
{% set shop_name_prefix = shop_product_form.instance.shop.name ~ " - " %}

{% call content_block(shop_name_prefix ~ _("Visibility"), "fa-eye") %}
    {{ bs3.field(shop_product_form.visible) }}
    {{ bs3.field(shop_product_form.listed) }}
    {{ bs3.field(shop_product_form.searchable) }}
    {{ bs3.field(shop_product_form.visibility_limit) }}
    {{ bs3.field(shop_product_form.visibility_groups) }}
    {{ bs3.field(shop_product_form.primary_category) }}
    {{ bs3.field(shop_product_form.categories) }}
{% endcall %}

{% call content_block(shop_name_prefix ~ _("Purchasing"), "fa-shopping-cart") %}
    {{ bs3.field(shop_product_form.default_price_value) }}
    {{ bs3.field(shop_product_form.suppliers) }}
    {{ bs3.field(shop_product_form.purchase_multiple) }}
    {{ bs3.field(shop_product_form.minimum_purchase_quantity) }}
{% endcall %}

{% call content_block(shop_name_prefix ~ _("Shipping & Payment"), "fa-truck") %}
    {{ bs3.field(shop_product_form.limit_payment_methods) }}
    {{ bs3.field(shop_product_form.limit_shipping_methods) }}
    {{ bs3.field(shop_product_form.payment_methods) }}
    {{ bs3.field(shop_product_form.shipping_methods) }}
{% endcall %}
