{% extends "shoop/admin/base.jinja" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if orderability_errors %}
                <div class="clearfix">
                {# TODO: FIX THIS FOR MOBILE SCREEN SIZES #}
                    <p class="pull-right" data-toggle="tooltip" data-title="{% for error in orderability_errors %}{{ error }} {% endfor %}" data-placement="bottom">
                        <i class="fa fa-info-circle text-info"></i> {% trans %}This product is currently not orderable.{% endtrans %}
                    </p>
                </div>
            {% endif %}
            <div class="col-md-3 section-navigation" data-navigatee="product_form"></div>
            <div class="col-md-9">
                <form method="post" id="product_form">
                    {% csrf_token %}
                    {% for form_def in form.form_defs.values() %}
                        {% include form_def.template_name with context %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{{ static("shoop_admin/js/product.js") }}"></script>
{% endblock %}

