The Pan Galactic Gargle Blaster is an
alcoholic beverage invented by
ex-President of the Universe Zaphod
Beeblebrox, considered by the Guide to be
the Best Drink in Existence. Its effects
are similar to "having your brains
smashed in by a slice of lemon wrapped
around a large gold brick".
