{% macro render_action_buttons(order) %}
    <div class="text-right">
        {% if order_is_reorderable %}
            <a class="btn btn-success btn-sm" href="{{ url("shuup:reorder-order", pk=order.pk) }}">
                <i class="fa fa-plus"></i> {% trans %}Add all products to cart{% endtrans %}
            </a>
        {% endif %}
    </div>
{% endmacro %}
