static/xtheme/admin/*js
static/xtheme/admin/*css
static/xtheme/admin/*map
static/xtheme/*js
static/xtheme/*css
static/xtheme/*map
!static_src/lib
generated_resources.txt
static/xtheme/*.woff
static/xtheme/*.woff2
static/xtheme/*.svg
static/xtheme/*.ttf
static/xtheme/*.eot

