{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import single_section_form with context %}
{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}
{% block title %}{{ attribute.name or _("New Attribute") }}{% endblock %}

{% block body_class %}shuup-details{% endblock %}
{% block content %}
    {% call single_section_form("attribute_form", form) %}
        {{ language_dependent_content_tabs(form) }}
        {{ render_monolingual_fields(form) }}
    {% endcall %}
{% endblock %}
