{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import single_section_form with context %}

{% block content %}
    {{ single_section_form("price_display_form", form) }}
{% endblock %}
