{%- import "shuup/front/macros.jinja" as macros with context -%}
{% macro render_address_forms(billing_form, shipping_form) %}
    {% for field in billing_form.hidden_fields() %}{{ field|safe }}{% endfor %}
    {% for field in shipping_form.hidden_fields() %}{{ field|safe }}{% endfor %}
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <fieldset>
                    <legend>{% trans %}Billing information{% endtrans %}</legend>
                    {% for field in billing_form.visible_fields() %}
                        {{ macros.render_field(field) }}
                    {% endfor %}
                </fieldset>
                <button class="btn btn-info" type="button" onclick="copyAddress('billing', 'shipping')">
                    {% trans %}Copy to shipping information{% endtrans %}
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <fieldset>
                    <legend>{% trans %}Shipping information{% endtrans %}</legend>
                    {% for field in shipping_form.visible_fields() %}
                        {{ macros.render_field(field) }}
                    {% endfor %}
                </fieldset>
                <button class="btn btn-info" type="button" onclick="copyAddress('shipping', 'billing')">
                    {% trans %}Copy to billing information{% endtrans %}
                </button>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro render_address_forms_js() %}
<script>
    function copyAddress(from, to) {
        $("[id^=id_" + from + "]").each(function() {
            var targetName = $(this).attr("id").split("-")[1];
            var $target = $("#id_" + to + "-" + targetName);
            $target.val($(this).val());
        });
    }
</script>
{% endmacro %}
