{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 section-navigation" data-navigatee="customer_tax_group_form"></div>
            <div class="col-md-9">
                <form method="post" id="customer_tax_group_form">
                    {% csrf_token %}
                    {% call content_block(_("General information"), "fa-info-circle") %}
                       {{ language_dependent_content_tabs(form, ["name"]) }}
                    {% endcall %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
