{% extends "shuup/front/base.jinja" %}
{%- from "shuup/front/macros/category.jinja" import render_product_filters_top -%}

{% block content %}
    {% if enabled %}
        {% if layout == 'horizontal' %}
            {% set col_class = 'col-md-2' %}
        {% else %}
            {% set col_class = '' %}
        {% endif %}
        <form class="{% if layout == 'vertical' %}
                        col-md-3 categories-nav
                    {% endif %}">
            <div class="categories {{col_class}}">
                <p>
                    <label for="id_categories">
                        <b>{{filter_form.fields['category'].label}}</b>
                    </label>
                </p>
                    <select id="id_categories" name="category">
                        {% for x,y in filter_form.fields['category'].choices %}
                            <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="manufacturers {{col_class}}">
                    <p>
                        <label for="id_manufacturers">
                            <b>{{filter_form.fields['manufacturer'].label}}</b>
                        </label>
                    </p>
                    <select id="id_manufacturers" name="manufacturer">
                        {% for x,y in filter_form.fields['manufacturer'].choices %}
                            <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="accordion">
                {% for group, list in filter_form|
                                map(attribute='field')|
                                map(attribute='widget')|
                                map(attribute='attrs')|
                                selectattr('data-accordion-group','defined')|
                                groupby('data-accordion-group') %}
                        <div class="group {{col_class}}">
                        <b>{{group}}</b>
                        {% for field in filter_form %}
                            {% if 'data-accordion-group' in field.field.widget.attrs %}
                                {% if field.field.widget.attrs['data-accordion-group'] == group %}
                                    <p>{{field}}<label for="id_{{field.name}}">{{field.label}}</label></p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                {% endfor %}
            </div>
            <div class="apply">
                <input type="submit" value="Apply">
            </div>
        </form>
        {% if no_results %}
            <p class="lead">
                {% trans%}No results found.{% endtrans %}
            </p>
        {% elif products %}
            {% if products|count == 150 %}
            <p class="lead">{% trans %}Limiting results to first 150 products. Refine search terms for better results.{% endtrans %}</p>
            {% endif %}
            <div class="row product-list-view search-results-view">
            {% for product in products %}
                <div class="single-product">
                    {{ product_macros.product_box(product, show_description=True, class="product-card box search-view") }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
