<div id="order-admin-comment">
    <form action="" method="post">
        <div class="form-group form-content">
            <label class="control-label" for="admin-comment">{% trans %}Comment{% endtrans %}</label>
            <div class="form-input-group d-flex">
                <textarea class="form-control" id="admin-comment">{{ order.admin_comment }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-actions col-12">
                <button class="btn btn-info" href="#">{% trans %}Save comment{% endtrans %}</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
