<button
    class="btn btn-default btn-sm set-shipment-status"
    href="{{ url }}"
    onclick="handleSetSent(event, this)"
>
    <i class="fa fa-truck"></i>{% trans %} Mark as sent {% endtrans %}
</button>
