<a class="btn btn-info btn-sm set-shipment-status"
    href="{{ url }}" shipment_id="{{ shipment_id }}" 
onclick="handleSetSent(event, this)"><i class="fa fa-truck"></i>{% trans %} Mark as sent {% endtrans %}</a>
