{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block, info_row, content_with_sidebar %}

{% set customer_url = shuup_admin.model_url(order.customer, "detail") %}
{% set orderer_url = shuup_admin.model_url(order.orderer, "detail") %}
{% set creator_url = shuup_admin.model_url(order.creator, "detail") %}
{% macro contact_row(label, contact) %}
    {% set url = shuup_admin.model_url(contact, "detail") %}
    {% if contact is not none and contact.account_manager is not none %}
        {{ info_row(label, contact ~ " (" ~ contact.account_manager ~ ")", url) }}
    {% else %}
        {{ info_row(label, contact, url) }}
    {% endif %}
{% endmacro %}

{% block content %}
    {% call content_with_sidebar(content_id="order_details") %}
        <div id="order_details">
            {% call content_block(_("Details"), "fa-info-circle") %}
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            {{ info_row(_("Order Number"), order.identifier) }}
                            {{ info_row(_("Order Date"), order.order_date|datetime) }}
                            {{ info_row(_("Reference"), order.reference_number) }}
                            {{ info_row(_("Label"), order.label.replace("_", " ").title()) }}
                            {{ contact_row(_("Customer"), order.customer) }}
                            {{ contact_row(_("Ordered by"), order.orderer) }}
                            {{ info_row(_("Creator"), order.creator, creator_url) }}
                            {{ info_row(_("Phone"), order.phone, "tel:" ~ order.phone) }}
                            {{ info_row(_("Email"), order.email, "mailto:" ~ order.email) }}
                            {{ info_row(_("Tax number"), order.tax_number) }}
                            {{ info_row(_("Total Price (taxless)"), order.taxless_total_price|money) }}
                            {{ info_row(_("Total Price"), order.taxful_total_price|money) }}
                            {{ info_row(_("Customer Comment"), order.customer_comment|linebreaksbr) }}
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            {{ info_row(_("Order Status"), order.get_status_display()) }}
                            {{ info_row(_("Payment Method"), order.get_payment_method_display()) }}
                            {{ info_row(_("Payment Status"), order.get_payment_status_display()) }}
                            {{ info_row(_("Shipping Method"), order.get_shipping_method_display()) }}
                            {{ info_row(_("Shipping Status"), order.get_shipping_status_display()) }}
                            {% set tracking_codes = order.get_tracking_codes() %}
                            {% if tracking_codes %}
                                {{ info_row(_("Tracking codes"), render_objects(tracking_codes)) }}
                            {% endif %}
                            {% if provided_information %}
                                {% for title, info in provided_information %}
                                    {{ info_row(title, info) }}
                                {% endfor %}
                            {% endif %}
                        </dl>
                    </div>
                </div>
                {% if order.shipping_address_id or order.billing_address_id %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><i class="fa fa-map-marker"></i> {% trans %}Address Information{% endtrans %}</h4>
                            <div class="row contact-addresses">
                                <div class="col-lg-6 billing-address">
                                    <h4><strong>{% trans %}Billing address{% endtrans %}</strong></h4>
                                    <address>
                                    {% for line in order.billing_address or [] %}
                                        {{ line }}<br>
                                    {% else %}
                                        <p><i class="fa fa-warning text-warning"></i> {% trans %}No billing address defined.{% endtrans %}</p>
                                    {% endfor %}
                                    </address>
                                </div>
                                <div class="col-lg-6 shipping-address">
                                    <h4><strong>{% trans %}Shipping address{% endtrans %}</strong></h4>
                                    <address>
                                    {% for line in order.shipping_address or [] %}
                                        {{ line }}<br>
                                    {% else %}
                                        <p><i class="fa fa-warning text-warning"></i> {% trans %}No shipping address defined.{% endtrans %}</p>
                                    {% endfor %}
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% include "shuup/admin/orders/_order_contents.jinja" with context %}
            {% endcall %}
            {% for order_section in order_sections %}
                {% call content_block(order_section.name, order_section.icon) %}
                    {% include order_section.template with context %}
                {% endcall %}
            {% endfor %}
        </div>
    {% endcall %}
{% endblock %}

{%- macro render_objects(objs) -%}
    {%- for obj in objs -%}
        {{- obj -}}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{%- endmacro -%}

{% block extra_js %}
{% for order_section in order_sections %}
    {% if order_section.extra_js %}
        {% include order_section.extra_js with context %}
    {% endif %}
{% endfor %}
{% endblock %}
