{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block, content_with_sidebar %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}
{% block title %}{{ campaign.name or _("New Campaign") }}{% endblock %}

{% block content %}
    {% call content_with_sidebar(content_id="campaign_form") %}
        <form method="post" id="campaign_form">
            {% csrf_token %}

            {% call content_block(_("General information"), "fa-clock-o") %}
                {{ bs3.field(form.name) }}
                {{ language_dependent_content_tabs(form) }}
                {{ bs3.field(form.basket_line_text) }}
                {{ bs3.field(form.shop) }}

                {{ bs3.field(form.active) }}
                {{ bs3.field(form.start_datetime) }}
                {{ bs3.field(form.end_datetime) }}
                {{ bs3.field(form.discount_percentage) }}
                {{ bs3.field(form.discount_amount_value) }}
            {% endcall %}

            {% call content_block(_("Campaign Rules"), "fa-clock-o") %}
                <div class="row">
                    <div class="col-sm-8 col-sm-push-4 col-lg-6 col-lg-push-3">
                        <h3>{{ _("Matching Rules") }}</h3>

                        <p>{{ _("The following fields determine when this campaign applies. You must select atleast one rule to be able to save this campaign.") }}</p>

                    </div>
                </div>
                {% for rule_id in form.rule_ids %}
                    {{ bs3.field(form[rule_id]) }}
                {% endfor %}
                {% if form.coupon %}
                {{ bs3.field(form.coupon) }}
                {% endif %}
            {% endcall %}
        </form>
    {% endcall %}

{% endblock %}
