*.css.map
*.egg
*.egg-info/
*.js.map
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*.sqlite3
.cache
.coverage
.idea
.installed.cfg
.Python
.tox/
/doccov.html
/venv*
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
node_modules
.DS_Store
.vscode
.sqlite
.python-version
.unit_tests
