recursive-include shoop *.jinja *.html *.txt *.js *.css *.json
recursive-include shoop_tests *.jinja *.html *.txt
prune shoop/admin/static_src/*/bower_components
prune shoop/admin/modules/*/bower_components
prune shoop/*/node_modules
