alabaster==0.7.12         # via sphinx
babel==2.5.3              # via shuup, sphinx
bleach==3.1.5             # via shuup
certifi==2021.5.30        # via requests
chardet==4.0.0            # via requests
django==2.2.24            # via django-filer, django-filter, django-jinja, django-mptt, django-reversion, django-timezone-field, django-polymorphic, djangorestframework, easy-thumbnails, jsonfield, shuup
django-bootstrap3==11.0.0  # via shuup
django-countries==6.1.3   # via shuup
django-enumfields==2.0.0  # via shuup
django-filer==1.7.1       # via shuup
django-filter==2.2.0      # via shuup
django-jinja==2.5.0       # via shuup
django-js-asset==1.2.2    # via django-mptt
django-mptt==0.9.1        # via django-filer, shuup
django-parler==2.0.1      # via shuup
django_polymorphic==2.1.2  # via django-filer, shuup
django-registration-redux==2.7  # via shuup
django-reversion==3.0.5   # via shuup
django-timezone-field==3.1  # via shuup
djangorestframework==3.11  # via shuup
docutils==0.17.1          # via sphinx
easy-thumbnails==2.7.1    # via django-filer
et-xmlfile==1.1.0         # via openpyxl
factory-boy==2.7.0        # via shuup
fake-factory==0.5.3       # via factory-boy, shuup
idna==2.10                # via requests
imagesize==1.2.0          # via sphinx
importlib-metadata==4.5.0  # via keyring, markdown
jdcal==1.4.1              # via openpyxl
jinja2==2.8.1             # via django-jinja, shuup, sphinx
jsonfield==2.1.1          # via shuup
keyring==23.0.1           # via shuup
keyrings.alt==4.0.2       # via shuup
lxml==4.6.3               # via shuup
markdown==3.3.4           # via shuup
markupsafe==2.0.1         # via jinja2
openpyxl==2.5.14          # via shuup
packaging==20.9           # via bleach
pillow==8.2.0             # via easy-thumbnails
pygments==2.9.0           # via sphinx
pyparsing==2.4.7          # via packaging
python-dateutil==2.8.1    # via shuup
pytz==2021.1              # via babel, django, django-timezone-field
readthedocs-sphinx-ext==0.5.17
requests==2.25.1          # via readthedocs-sphinx-ext, shuup, sphinx
shuup==2.10.2
six==1.16.0               # via bleach, django-filer, django-parler, jsonfield, python-dateutil, shuup, sphinx
snowballstemmer==2.1.0    # via sphinx
sphinx==1.5.6
sqlparse==0.4.1           # via django
toml==0.10.2              # via shuup
unicodecsv==0.14.1        # via shuup
unidecode==1.1.2          # via django-filer
urllib3==1.26.5           # via requests
webencodings==0.5.1       # via bleach
xlrd==2.0.1               # via shuup
zipp==3.4.1               # via importlib-metadata
