{% extends "shuup/front/macros/product_ordering.jinja" %}

{% macro render_product_basic_information(product) %}
    <h1 class="product-name">{{ product.name }}</h1>
    <p class="text-muted product-sku"><small>{{ product.sku }}</small></p>
    {% if product.short_description %}
        <p class="product-short-description">{{ product.short_description|safe }}</p>
    {% endif %}
    {% if show_prices() and not xtheme.get("hide_prices") %}
        <div class="product-price">
            {{ render_product_price(product) }}
        </div>
        <hr>
    {% endif %}
{% endmacro %}

{% macro render_product_information(product) %}
    <hr>
    <h3>{% trans %}Product Information{% endtrans %}</h3>
    {% set media_files = product.get_public_media() %}
    <div class="product-tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">{% trans %}Description{% endtrans %}</a></li>
            <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">{% trans %}Details{% endtrans %}</a></li>
            {% if attributes %}
                <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">{% trans %}Attributes{% endtrans %}</a></li>
            {% endif %}
            {% if media_files %}
                <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">{% trans %}Files{% endtrans %}</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="product-description tab-pane fade in active" id="tab1">
                {% if product.description or package_children %}
                    {{ product.description|safe }}
                    {% if package_children %}
                        {% set quantity_map = product.get_package_child_to_quantity_map() %}
                        <p><strong>{% trans %}Includes these products{% endtrans %}</strong></p>
                        <ul>
                            {% for child in package_children %}
                                <li>
                                    {{ product_line(child, quantity_map[child]) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    {% trans %}No product description available{% endtrans %}
                {% endif %}
            </div>
            <div role="tabpanel" class="product-attributes tab-pane fade" id="tab2">
                <dl class="dl-horizontal">
                    <dt>{% trans %}SKU{% endtrans %}</dt>
                    <dd>{{ product.sku }}</dd>
                    {% if product.barcode %}
                        <dt>{% trans %}Barcode{% endtrans %}</dt>
                        <dd>{{ product.barcode }}</dd>
                    {% endif %}
                    {% if product.manufacturer %}
                        <dt>{% trans %}Manufacturer{% endtrans %}</dt>
                        <dd>
                            {% if product.manufacturer.url %}
                                <a href="{{ product.manufacturer.url }}" target="_blank">{{ product.manufacturer.name }}</a>
                            {% else %}
                                {{ product.manufacturer.name }}
                            {% endif %}
                        </dd>
                    {% endif %}
                    {% if shop_product.purchase_multiple and shop_product.purchase_multiple > 1 %}
                        <dt>{% trans %}Package Size{% endtrans %}</dt>
                        <dd>{{ shop_product.purchase_multiple }}</dd>
                    {% endif %}
                    {% if product.width or product.height or product.depth %}
                        <dt>{% trans %}Width{% endtrans %}</dt>
                        <dd>{{ product.width|floatformat(2) }} mm</dd>
                        <dt>{% trans %}Height{% endtrans %}</dt>
                        <dd>{{ product.height|floatformat(2) }} mm</dd>
                        <dt>{% trans %}Depth{% endtrans %}</dt>
                        <dd>{{ product.depth|floatformat(2) }} mm</dd>
                    {% endif %}
                    {% if product.net_weight %}
                        <dt>{% trans %}Net Weight{% endtrans %}</dt>
                        <dd>
                            {% if product.net_weight < 1000 %}
                                {{ product.net_weight|floatformat(2) }} g
                            {% else %}
                                {{ (product.net_weight / 1000)|floatformat(2) }} kg
                            {% endif %}
                        </dd>
                    {% endif %}
                    {% if product.gross_weight %}
                        <dt>{% trans %}Gross Weight{% endtrans %}</dt>
                        <dd>
                            {% if product.gross_weight < 1000 %}
                                {{ product.gross_weight|floatformat(2) }} g
                            {% else %}
                                {{ (product.gross_weight / 1000)|floatformat(2) }} kg
                            {% endif %}
                        </dd>
                    {% endif %}
                    {% if product.external_link %}
                        <dt>{% trans %}External link{% endtrans %}</dt>
                        <dd><a href="{{ product.external_link }}" target="_blank">{{ product.external_link }}</a></dd>
                    {% endif %}
                </dl>
            </div>
            {% if attributes %}
                <div role="tabpanel" class="product-attributes tab-pane fade" id="tab3">
                    <dl class="dl-horizontal">
                        {% for attribute in attributes %}
                            {% if attribute.value is not none %}
                                <dt>{{ attribute.name }}</dt>
                                <dd>{{ attribute.formatted_value }}</dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            {% if media_files %}
                <div role="tabpanel" class="product-files tab-pane fade" id="tab4">
                    <table class="table">
                        {% for file in media_files %}
                            <tr>
                                <td><a href="{{ file.url }}" target="_blank">{% if file.title %}{{ file.title }}{% else %}{{ file }}{% endif %}</a></td>
                                <td>
                                    {% if file.description %}
                                        {{ file.description|linebreaksbr }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro product_line(product, quantity) %}
    {% set u = url("shuup:product", pk=product.pk, slug=product.slug) %}
    {% set unit = product.get_shop_instance(request.shop, allow_cache=True).unit %}
    {{ unit.render_quantity(quantity) }} &times;
    <a href="{{ u }}">{{ product.name }}</a>
{% endmacro %}
