{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block, content_with_sidebar %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}

{% block content %}
    {% call content_with_sidebar(content_id="method_form") %}
        <form method="post" id="method_form">
            {% csrf_token %}
            {% call content_block(_("General information"), "fa-info-circle") %}
                {{ bs3.field(form.module_identifier) }}
                {{ language_dependent_content_tabs(form) }}
                <div class="form-divider"></div>
                {{ bs3.field(form.status) }}
                {{ bs3.field(form.tax_class) }}
                <div class="form-divider"></div>
                {% for name in form.module_option_field_names %}
                    {{ bs3.field(form[name]) }}
                {% endfor %}
            {% endcall %}
        </form>
    {% endcall %}
{% endblock %}
