{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 section-navigation" data-navigatee="method_form"></div>
            <div class="col-md-9">
                <form method="post" id="method_form">
                    {% csrf_token %}
                    {% call content_block(_("General information"), "fa-info-circle") %}
                        {{ bs3.field(form.module_identifier) }}
                        {{ language_dependent_content_tabs(form) }}
                        <div class="form-divider"></div>
                        {{ bs3.field(form.status) }}
                        {{ bs3.field(form.tax_class) }}
                        <div class="form-divider"></div>
                        {% for name in form.module_option_field_names %}
                            {{ bs3.field(form[name]) }}
                        {% endfor %}
                    {% endcall %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
