<div class="table-responsive">
    <form method="post" action="{{ url("shoop:basket") }}" class="update-basket">
        <input name="command" type="hidden" value="update">
        {% csrf_token %}
        <table class="table basket-table">
            <col style="width: 70px">
            <col width="30%">
            <col>
            <col style="width: 150px">
            <col>
            <col style="width: 1%">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-left">{% trans %}Product{% endtrans %}</th>
                    <th class="text-right">{% trans %}Price{% endtrans %}</th>
                    <th class="text-right">{% trans %}Quantity{% endtrans %}</th>
                    <th class="text-right">{% trans %}Total{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">
                        <button type="submit" class="btn btn-default btn-sm update-quantities" name="update-changes">
                            <i class="glyphicon glyphicon-refresh"></i> {% trans %}Update quantities{% endtrans %}
                        </button>
                    </td>
                    <td class="text-right">
                        {% trans %}Total{% endtrans %}:
                        <span class="total-price"><strong>{{ basket.total_price|money }}</strong></span>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                {% for line in basket.get_final_lines() %}
                    {% set product = line.product %}
                    {% set shop_product = line.shop_product %}
                    <tr>
                        <td>
                            {% if product %}
                                {% set image = product.primary_image %}
                                {% if image %}
                                    <a class="product-name" href="{{ shoop.urls.model_url(product) }}">
                                        <img src="{{ image|thumbnail(size=(70, 70)) }}" alt="{{ line.text }}">
                                    </a>
                                {% else %}
                                    <img class="img-responsive" src="{{ STATIC_URL }}shoop/img/no_image_thumbnail.png">
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if product %}
                                <a class="product-name" href="{{ shoop.urls.model_url(product) }}">{{ line.text }}</a>
                            {% else %}
                                {{ line.text }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if line.discount_amount %}
                                {{ line.discounted_unit_price|money }}
                                <small style="display: block">
                                    <del>{{ line.base_unit_price|money }}</del>
                                    {% if line.discount_text %}
                                        <br>{{ line.discount_text }}
                                    {% endif %}
                                </small>
                            {% else %}
                                {{ line.base_unit_price|money }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if product and line.can_change_quantity %}
                                <input
                                    type="number"
                                    name="q_{{ line.line_id }}"
                                    size="2"
                                    class="line_quantity text-right form-control"
                                    step="{{ shop_product.quantity_step }}"
                                    value="{{ line.quantity }}"
                                    min="{{ shop_product.rounded_minimum_purchase_quantity }}">
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <span class="line-total">{{ line.price|money }}</span>
                        </td>
                        <td class="del-basket-line-form">
                            {% if line.can_delete %}
                                <button type="submit" class="btn btn-danger btn-sm" name="delete_{{ line.line_id }}" title="{% trans %}Remove product from basket{% endtrans %}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
