{% trans fullname=user_to_recover.get_full_name() %}Hi {{ fullname }}{% endtrans %},
{% trans username=user_to_recover.username %}In case you've forgotten, your username is {{ username }}.{% endtrans %}
{% trans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endtrans %}
{% trans %}Please go to the following page and choose a new password:{% endtrans %}
{{ request.build_absolute_uri(url("shuup_admin:recover_password", uidb64=uid, token=token)) }}
