{% extends "shuup/admin/base_small_dialog.jinja" %}
{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock %}
{% from "shuup/admin/macros/general.jinja" import auth_block %}
{% block content %}
    {% call auth_block("subtle-slide-in") %}
        <form action="{{ request.path }}" method="post">
            <div class="auth-body">
                <div class="auth-heading">
                    {% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger">
                            <p class="mb-0">{{ error|striptags }}</p>
                        </div>
                    {% endif %}
                    {% if form.non_field_errors() %}
                        <div class="auth-alert d-flex alert alert-warning alert-dismissable fade show align-items-start" role="alert">
                            {% for error in form.non_field_errors() %}
                                <p class="mb-0"><i class="fa fa-warning mr-2"></i> {{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {{ bs3.field(form.email) }}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="actions">
                    <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">
                        {% trans %}Send password recovery instructions{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    {% endcall %}
{% endblock %}
