{% extends "shuup/admin/base_small_dialog.jinja" %}
{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock %}
{% from "shuup/admin/macros/general.jinja" import auth_block %}
{% block content %}
    {% call auth_block(extra_classes="subtle-slide-in", logo=request.shop.logo) %}
        <form action="{{ request.path }}" method="post">
            <div class="auth-body">
                {% csrf_token %}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error|striptags }}
                    </div>
                {% endif %}
                {% if form.non_field_errors() %}
                    <div class="field-error-text text-warning">
                        {% for error in form.non_field_errors() %}
                            <h4><i class="fa fa-warning"></i> {{ error }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="actions">
                    {{ bs3.field(form.new_password1) }}
                    {{ bs3.field(form.new_password2) }}
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <div class="actions">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        <i class="fa fa-sign-in"></i>
                        {% trans %}Reset password{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    {% endcall %}
{% endblock %}
