{% extends "shuup/front/base.jinja" %}

{% block content %}
<div class="container">
    <h1>{% trans %}Permission Denied{% endtrans %} (403)</h1>
    <hr>
    <a href="/">{% trans %}Back to home{% endtrans %}</a>
</div>
{% endblock %}
