<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}shuup/front/img/favicon.ico">
    <link rel="stylesheet" href="{{ static("shuup/front/css/style.css") }}">
    <title>{% trans %}Internal Server Error{% endtrans %} (500)</title>
    <style>
        body {
            font-family: "Fira Sans", sans-sefif;
            background: #f4f4f4;
            color: #666;
        }
        h1 {
            font-weight: normal;
            font-size: 2.6em;
            margin-bottom: 25px;
        }
        .container {
            padding: 75px 0px;
        }
        .well {
            background: #fff;
            box-shadow: none;
            padding: 20px;
        }
        .texts {
            padding: 25px 15px;
        }
        i {
            margin-bottom: 20px;
            color: #F29E02;
            font-size: 84px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <div class="well text-center">
                <div class="texts">
                    <i class="fa fa-exclamation-triangle"></i>
                    <h1>{% trans %}Internal Server Error{% endtrans %} (500)</h1>
                    <p class="lead">
                        {% trans %}Unfortunately an internal server error occurred. Try refreshing the page or try again later.{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
