<div class="form-def mt-3" data-name="{{ pane.identifier }}" id="{{ pane.identifier }}-content-form">
    <div class="row">
        <div class="panel panel-default col-lg-12">
            <div class="title subtitle">
                <h4>{{ form_def.context.title }}</h4>
            </div>
            {% for field in pane.forms[form_def.name] %}
                {{ bs3.field(field) }}
            {% endfor %}
        </div>
    </div>
</div>
