{% extends "shuup/admin/base.jinja" %}
{% from "shuup/xtheme/admin/macros.jinja" import theme_card %}
{% block title %}{% trans %}Themes{% endtrans %}{% endblock %}

{% block body_class %}shuup-details{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="content-block">
            <div class="title">
                <h2 class="block-title d-flex align-items-center"><i class="fa fa-cog"></i> {% trans %}Theme Configuration{% endtrans %}</h2>
            </div>
            <div class="content-wrap">
                <div class="content">
                    {% if theme_classes %}
                        <form method="post" id="theme_form">
                            {% csrf_token %}
                            {{ theme_card(theme_classes, current_theme) }}
                        </form>
                    {% else %}
                        <div class="alert alert-info">
                            {% trans %}No themes are installed.{% endtrans %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
