{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import single_section_form with context %}
{% block content %}
    {{ single_section_form("font_form", form) }}
{% endblock %}
