The Pan Galactic Gargle Blaster is an
alcoholic beverage invented by
ex-President of the Universe Zaphod
Beeblebrox, considered by the Guide to be
the Best Drink in Existence. Its effects
are similar to "having your brains
smashed in by a slice of lemon wrapped
around a large gold brick".
bb6144d25cccff00571698c5cdab0d39cd5da19b
