{% extends "shuup/front/checkout/_base.jinja" %}

{% block title %}{% trans %}Shopping cart{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Shopping cart{% endtrans %}{% endblock %}

{% block checkout_phase_content %}
    {% if basket.is_empty %}
        <div class="alert alert-danger">
            {% trans %}Your shopping cart is empty.{% endtrans %}
        </div>
    {% else %}
        {% include "shuup/front/basket/partials/_basket_content.jinja" %}

        {% if errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans %}Errors{% endtrans %}</strong></p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <hr>

        {# Ordering form #}
        {% if orderable %}
            <form role="form" method="post" action="" id="checkout_form">
                {% csrf_token %}

                {# Set some nice shortcuts #}
                {%- set sf = form.shipping -%}
                {%- set bf = form.billing -%}
                {%- set of = form.order -%}

                {# Render the hidden fields so we don't need to worry about them later #}
                {% for field in sf.hidden_fields() %}{{ field|safe }}{% endfor %}
                {% for field in bf.hidden_fields() %}{{ field|safe }}{% endfor %}
                {% for field in of.hidden_fields() %}{{ field|safe }}{% endfor %}

                {# Addresses #}
                <div class="row">
                    <div class="col-md-6">
                        <div class="well">
                            <fieldset>
                                <legend>{% trans %}Billing address{% endtrans %}</legend>
                                <div id="billing">
                                    {% for field in bf.visible_fields() %}
                                        {{ macros.render_field(field) }}
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well">
                            <fieldset>
                                <legend>{% trans %}Shipping address{% endtrans %}</legend>
                                {# <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="same_as_billing" id="same_as_billing" value="1" checked>
                                        {% trans %}Same as buyer{% endtrans %}
                                    </label>
                                </div>
                                 #}
                                <div id="shipping">
                                    {% for field in sf.visible_fields() %}
                                        {{ macros.render_field(field) }}
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <hr>

                {# Order for company #}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <fieldset>
                                <legend>{% trans %}Ordering for a company{% endtrans %}</legend>
                                <p>{% trans %}Please fill out these fields if you are ordering for a company.{% endtrans %}</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ macros.render_field(of.company_name) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ macros.render_field(of.tax_number) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <fieldset>
                                <legend>{% trans %}Other information{% endtrans %}</legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ macros.render_field(of.shipping_method) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ macros.render_field(of.payment_method) }}
                                    </div>
                                </div>
                                <div class="row" id="shipping-options-container">
                                    {{ shipping_method_ui_html|default("")|safe }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ macros.render_field(of.comment) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <hr>

                {{ macros.render_field(of.accept_terms) }}

                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fa fa-check"></i> {% trans %}Place the order{% endtrans %}
                </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
