{% macro buttons_container() %}
    <div class="clearfix">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro next_button() %}
    <button type="submit" class="btn btn-primary btn-lg pull-right">
        <i class="fa fa-check"></i> {% trans %}Continue{% endtrans %}
    </button>
{% endmacro %}

{% macro default_buttons() %}
    {% call buttons_container() %}
        {{ next_button() }}
    {% endcall %}
{% endmacro %}
