{% macro render_menu_items() %}
    <div>
        <button class="toggle-mobile-nav">
            <span class="sr-only">{% trans %}Menu{% endtrans %}</span>
            <span class="hamburger"></span>
        </button>
        <div class="pages">
            <ul class="nav-collapse">
                <li{% if request.path == "/" %} class="current"{% endif %}><a href="/">{% trans %}Home{% endtrans %}</a></li>
                {% set products_url = url('shuup:xtheme_extra_view', view='products') %}
                <li{% if request.path == products_url %} class="current"{% endif %}><a href="{{ products_url }}">{% trans %}Products{% endtrans %}</a></li>
                {% if shuup.simple_cms %}
                    {% for link in xtheme.get_cms_navigation_links(request) %}
                        <li{% if request.path == "%s/" % link.url %} class="current"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
                    {% endfor %}
                {% endif %}
                {{ xtheme.render_menu_extensions(request) }}
            </ul>
        </div>
    </div>
{% endmacro %}
