<div class="basket-items">
    <form method="post" action="{{ url("shoop:basket") }}" id="update_basket_form">
        <input name="command" type="hidden" value="update">
        {% csrf_token %}
        {% for line in basket.get_final_lines() %}
            {% set product = line.product %}
            {% set shop_product = line.shop_product %}
            <div class="single-item">
                <div class="product-image">
                    {% if product %}
                        {% set image = product.primary_image %}
                        {% if image %}
                            <a class="product-name" href="{{ shoop.urls.model_url(product) }}">
                                <img class="img-responsive" src="{{ image|thumbnail(size=(200, 200)) }}" alt="{{ line.text }}">
                            </a>
                        {% else %}
                            <a class="product-name" href="{{ shoop.urls.model_url(product) }}">
                                <img class="img-responsive" src="{{ STATIC_URL }}classic_gray/img/no_image_thumbnail.png">
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="product-details">
                    <h4 class="name">
                        {% if product %}
                            <a class="product-name" href="{{ shoop.urls.model_url(product) }}">{{ line.text }}</a>
                        {% else %}
                            {{ line.text }}
                        {% endif %}
                    </h4>
                    <div class="quantity">
                        {% if product and line.can_change_quantity %}
                        <div class="input-group">
                            <div class="input-group-addon">
                                {% trans %}Qty{% endtrans %}
                            </div>
                            <input
                                id="qty_{{ line.line_id }}"
                                type="number"
                                name="q_{{ line.line_id }}"
                                size="2"
                                class="line_quantity form-control"
                                step="{{ shop_product.quantity_step }}"
                                value="{{ line.quantity }}"
                                min="{{ shop_product.rounded_minimum_purchase_quantity }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="product-sum">
                    <h4 class="price text-right">
                        <small>{% trans %}Total{% endtrans %}: </small>{{ line.price|money }}
                        {% if line.is_discounted %}
                            <br><small><s class="text-muted">{{ line.base_price|money }}</s></small>
                        {% endif %}
                    </h4>
                </div>
                <div class="delete">
                    {% if line.can_delete %}
                        <button type="submit" class="btn btn-sm" name="delete_{{ line.line_id }}" title="{% trans %}Remove product from basket{% endtrans %}">
                            <i class="fa fa-times"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="basket-summary">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <hr>
                    <div class="row">
                        <div class="col-xs-6"><h4><strong>{% trans %}Total{% endtrans %}</strong></h4></div>
                        <div class="total-price text-right col-xs-6"><h2>{{ basket.total_price|money }}</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
