<a href="#collapse-categories" role="button" data-toggle="collapse" class="category-title collapsed" aria-expanded="false" aria-controls="collapse-categories">
    {% trans %}Categories{% endtrans %} <i class="collapse-icon fa fa-chevron-up"></i>
</a>
<div class="category-wrap collapse" id="collapse-categories">
    <ul>
        {% for c in shuup.general.get_root_categories() recursive %}
            {% set children = c.get_children() %}
            <li{% if category and c == category %} class="current-page"{% endif %}>
                {% if children %}
                    <a href="{{ url("shuup:category", pk=c.pk, slug=c.slug) }}"><i class="fa menu-arrow"></i> {{ c }}</a>
                    <ul>{{ loop(children) }}</ul>
                {% else %}
                    <a href="{{ url("shuup:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
