{% extends "shoop/admin/base_popup.jinja" %}
{% block content %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title|default("Error!") }}</h3>
            </div>
            <div class="panel-body">
                <h1>{{ title|default("Error!") }}</h1>
                <hr>
                {{ message }}
            </div>
        </div>
    </div>
{% endblock %}
