<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#shoop-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ request.shop.public_name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="shoop-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                <li{% if request.path_info.split("/")[1] == "categories" %} class="active"{% endif %}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Categories{% endtrans %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for c in shoop.general.get_root_categories() recursive %}
                            {% set children = c.get_children() %}
                            <li>
                                {% if children %}
                                    <a href="{{ url("shoop:category", pk=c.pk, slug=c.slug) }}" class="dropdown-toggle" data-toggle="dropdown">{{ c }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">{{ loop(children) }}</ul>
                                {% else %}
                                    <a href="{{ url("shoop:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if shoop.simple_cms %}
                    {% set cms_pages = shoop.simple_cms.get_visible_pages() %}
                    {% if cms_pages %}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Pages{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for page in cms_pages %}
                                <li><a href="{{ url("shoop:cms_page", url=page.url) }}">{{ page }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if shoop.simple_search %}
                <li>
                    {% block searchform %}
                        {{ shoop.simple_search.get_search_form() }}
                    {% endblock %}
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i> {% trans %}Cart{% endtrans %} <span>({{ request.basket.product_count }}) </span><span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <div class="col-sm-12">
                            <table class="table">
                                <colgroup>
                                    <col style="min-width: 210px;">
                                    <col style="min-width: 90px;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Items</th>
                                        <th class="text-right">Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            {% trans %}Total{% endtrans %}
                                        </th>
                                        <th class="text-right">
                                            {{ request.basket.total_price|money }}
                                        </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for line in request.basket.get_lines() %}
                                        <tr>
                                            <td>{{ line.quantity|number }} &times; {{ line.text }}</td>
                                            <td class="text-right">{{ line.price|money }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2" class="text-warning"><i class="glyphicon glyphicon-exclamation-sign"></i> {% trans %}Your shopping cart is empty{% endtrans %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ url("shoop:basket") }}" class="btn btn-block btn-primary">
                                {% trans %}View cart{% endtrans %} <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if user.first_name or user.last_name %}
                                {{ user.get_full_name() }}
                            {% else %}
                                {{ user }}
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ url("shoop:customer_edit") }}">
                                    <i class="glyphicon glyphicon-user"></i> {% trans %}Edit account details{% endtrans %}
                                </a>
                            </li>
                            {% if shoop.urls.has_url("shoop:personal-orders") %}
                            <li>
                                <a href="{{ url("shoop:personal-orders") }}">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    {% trans %}My orders{% endtrans %}
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li><a href="{{ url("shoop_admin:dashboard") }}"><i class="glyphicon glyphicon-cog"></i> {% trans %}Admin panel{% endtrans %}</a></li>
                            {% endif %}
                            {% if shoop.urls.has_url("shoop:logout") %}
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ url("shoop:logout") }}">
                                    <i class="glyphicon glyphicon-log-out"></i> {% trans %}Log out{% endtrans %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> {% trans %}Log in{% endtrans %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% if shoop.urls.has_url("shoop:login") %}
                            <li>
                                <a href="{{ url("shoop:login") }}">
                                    <i class="glyphicon glyphicon-log-in"></i> {% trans %}Log in{% endtrans %}
                                </a>
                            </li>
                            {% endif %}
                            {% if shoop.urls.has_url("shoop:registration_register") %}
                            <li>
                                <a href="{{ url("shoop:registration_register") }}">
                                    <i class="glyphicon glyphicon-edit"></i> {% trans %}Register{% endtrans %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
