{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import single_section_form with context %}
{% block content %}
    {{ single_section_form("product_type_form", form) }}
{% endblock %}
