{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}
{% from "shuup/admin/macros/general.jinja" import content_block %}
{% set base_form = form["base"] %}
{% set priority_fields = ["shop", "name"] %}

{% call content_block(_("General Information"), ("fa-info-circle")) %}
    {{ render_monolingual_fields(base_form, field_names=priority_fields) }}
    {{ language_dependent_content_tabs(base_form, tab_id_prefix="base") }}
    {{ render_monolingual_fields(base_form, exclude=priority_fields) }}
{% endcall %}
