{% extends "shuup/front/simple_message.jinja" %}

{% block title %}{% trans %}Logged out{% endtrans %}{% endblock %}

{% block message %}{% trans %}You have been logged out. Thank you for visiting!{% endtrans %}{% endblock %}
