{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros/general.jinja" import render_field with context %}

{% block title %}{% trans %}Recover your password{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
            <h1 class="page-header">
                {% trans %}Recover your password{% endtrans %}
            </h1>
            <p>{% trans %}You can recover your password with either username or email.{% endtrans %}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <div class="well">

                <form role="form" method="post">
                    {% csrf_token %}
                    {{ render_field(form.username) }}
                    {{ render_field(form.email) }}
                    <button type="submit" class="btn btn-primary btn-block">
                        {% trans %}Send password recovery instructions{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
