{% extends "shuup/front/base.jinja" %}

{% block title %}{% trans %}Password Recovery{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h1 class="page-header text-center">
                {% trans %}Change Password{% endtrans %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <form role="form" method="post" action="{{ request.path }}">
                {% csrf_token %}
                {{ macros.render_field(form.new_password1) }}
                {{ macros.render_field(form.new_password2) }}
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="glyphicon glyphicon-log-in"></i>
                    {% trans %}Change Password{% endtrans %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
