{% extends "shuup/front/simple_message.jinja" %}

{% block title %}{% trans %}Password Recovery{% endtrans %}{% endblock %}

{% block message %}
    {% trans -%}
        If a user account is associated with the information you entered, you should receive instructions on how to reset your password shortly.
    {%- endtrans %}
{% endblock %}
