{% extends "shuup/front/simple_message.jinja" %}

{% block title %}{% trans %}Password Changed{% endtrans %}{% endblock %}

{% block message %}{% trans %}Your password has been changed and you have been logged in.{% endtrans %}{% endblock %}
