{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block, info_row, content_with_sidebar %}

{% block content %}
    {% call content_with_sidebar(content_id="change_password_form") %}
        <form method="post" id="change_password_form">
            {% csrf_token %}
            {% call content_block(_("Change Password"), "fa-key") %}
                {{ bs3.field(form.old_password, show_help_block=True) }}
                {{ bs3.field(form.password1) }}
                {{ bs3.field(form.password2) }}
            {% endcall %}
        </form>
    {% endcall %}
{% endblock %}
