{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block, info_row, content_with_sidebar %}

{% block content %}
    {% call content_with_sidebar(content_id="user_form") %}
        <form method="post" id="user_form">
            {% csrf_token %}
            {% call content_block(_("User Information"), "fa-info-circle") %}
                {% for field in form %}
                    {{ bs3.field(field) }}
                {% endfor %}
            {% endcall %}
        </form>
    {% endcall %}
{% endblock %}
