{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block, info_row %}

{% block content %}
    <div class="container-fluid">
        <div class="content-block">
            <form method="post">
                {% csrf_token %}
                <p class="lead">{% trans email=object.email %}Send a password reset email to {{ email }}?{% endtrans %}</p>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-envelope"></i> {% trans %}Send Reset Email{% endtrans %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
