{% extends "shuup/admin/base.jinja" %}

{% block title %}{{ _("API Permissions") }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="content-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2 class="block-title d-flex align-items-center">
                            <i class="fa fa-server"></i>
                            {{ _("Configure API permissions") }}
                        </h2>
                    </div>
                    <p class="text-white bg-info p-3 mt-3 rounded"><i class="fa fa-info-circle"></i> {% trans %}Please, configure the API permission level for each service by selecting the level below.{% endtrans %}</p>
                    <p>{{ _("Note:") }}</p>
                    <ul>
                        <li><strong>{{ _("Disabled") }}</strong> - {% trans %}No one can make requests.{% endtrans %}</li>
                        <li><strong>{{ _("Admin users") }}</strong> - {% trans %}Only administrators can make requests to the API to fetch, save, delete or update data.{% endtrans %}</li>
                        <li><strong>{{ _("Authenticated users - Read/Write") }}</strong> - {% trans %}Any authenticated user can fetch, save, delete or update data.{% endtrans %}</li>
                        <li><strong>{{ _("Authenticated users - Read") }}</strong> - {% trans %}Any authenticated user can only fetch data.{% endtrans %}</li>
                        <li><strong>{{ _("Public users - Read/Write") }}</strong> - {% trans %}Any user (authenticated or not) can fetch, save, delete or update data.{% endtrans %} <span class="label label-warning">{{ _("Use this with caution.") }}</span></li>
                        <li><strong>{{ _("Public users - Read") }}</strong> - {% trans %}Any user (authenticated or not) can only fetch data.{% endtrans %} <span class="label label-warning">{{ _("Use this with caution.") }}</span></li>
                    </ul>
                    <hr>
                    <form action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ bs3.field(field) }}
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-check"></i> {{ _("Save") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
