<table class="basket-table table">
    <col style="width: 70px">
    <col>
    <col>
    <col>
    <col>
    <thead>
        <tr>
            <th></th>
            <th class="text-left">{% trans %}Title{% endtrans %}</th>
            <th class="text-right">{% trans %}Price{% endtrans %}</th>
            <th class="text-right">{% trans %}Quantity{% endtrans %}</th>
            <th class="text-right">{% trans %}Total{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                <strong>{% trans %}Total{% endtrans %}:
                <span class="total-price">{{ order.taxful_total_price|money }}</span></strong>
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% for line in lines %}
            {% set product = line.product %}
            <tr>
                <td>
                    {% if product %}
                        {% set image = product.primary_image %}
                        {% if image %}
                            <img class="image-responsive" src="{{ image|thumbnail(size=(70, 70)) }}" width="70" height="70">
                        {% else %}
                            <img class="image-responsive" src="{{ STATIC_URL }}shoop/img/no_image_thumbnail.png" width="70" height="70">
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ line.text }}
                </td>
                <td class="text-right">
                    {{ line.taxful_base_unit_price|money }}
                </td>
                <td class="text-right">
                    {{ line.quantity|number }}
                </td>
                <td class="text-right">
                    <span class="line-total">{{ line.taxful_price|money }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
