{% from "shuup/admin/macros/general.jinja" import info_row, render_objects %}

<dl class="dl-horizontal">
    {{ info_row(_("Full Name"), contact.full_name) }}
    {{ info_row(_("Phone"), contact.phone, "tel:" ~ contact.phone) }}
    {{ info_row(_("Email"), contact.email, "mailto:" ~ contact.email) }}
    {% set groups = render_objects(contact_basic_info.groups) %}
    {% set shops = render_objects(contact_basic_info.shops) %}
    {{ info_row(_("Groups"), groups|default(_("No groups"), True)) }}
    {{ info_row(_("Bound User"), contact.user, shuup_admin.model_url(contact.user) if contact.user else None) }}
    {{ info_row(_("Shops"), shops|default(_("No shops"), True)) }}
    {{ info_row(_("Registered in"), contact.registration_shop, shuup_admin.model_url(contact.registration_shop)) }}
    {% if contact_basic_info.companies %}
        {% set rendered_companies = render_objects(contact_basic_info.companies) %}
        {{ info_row(_("Companies"), rendered_companies) }}
    {% endif %}
    {{ info_row(
        _("Account Manager"),
        contact.account_manager,
        shuup_admin.model_url(contact.account_manager) if contact.account_manager else None) }}
    {{ info_row(_("Merchant Notes"), contact.merchant_notes) }}
</dl>
