<div class="row contact-addresses">
    <div class="col-lg-6 billing-address">
        <h4 class="pt-3 pb-3"><i class="fa fa-credit-card"></i> {% trans %}Billing address{% endtrans %}</h4>
        <div class="list-group">
            {% for line in contact.default_billing_address or [] %}
                <div class="list-group-item">{{ line }}</div>
            {% else %}
                <i class="fa fa-warning text-warning"></i> {% trans %}No billing address defined.{% endtrans %}
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-6 shipping-address">
        <h4 class="pt-3 pb-3"><i class="fa fa-truck"></i> {% trans %}Shipping address{% endtrans %}</h4>
        <div class="list-group">
            {% for line in contact.default_shipping_address or [] %}
                <div class="list-group-item">{{ line }}</div>
            {% else %}
                <i class="fa fa-warning text-warning"></i> {% trans %}No shipping address defined.{% endtrans %}
            {% endfor %}
        </div>
    </div>
</div>
