{% from "shuup/admin/macros/general.jinja" import content_block %}

{% macro address_form(form) %}
    {{ bs3.field(form["name"]) }}
    {{ bs3.field(form["prefix"]) }}
    {{ bs3.field(form["suffix"]) }}
    {{ bs3.field(form["street"]) }}
    {{ bs3.field(form["street2"]) }}
    {{ bs3.field(form["street3"]) }}
    {{ bs3.field(form["postal_code"]) }}
    {{ bs3.field(form["city"]) }}
    {{ bs3.field(form["region_code"]) }}
    {{ bs3.field(form["region"]) }}
    {{ bs3.field(form["country"]) }}
    {{ bs3.field(form["email"]) }}
    {{ bs3.field(form["phone"]) }}
{% endmacro %}

{% call content_block(_("Addresses"), "fa-map-marker") %}
    <div class="row">
        <div class="col-lg-12">
            <label>
                <input id="billing-to-shipping" type="checkbox">
                {% trans %}Use billing address as shipping address{% endtrans %}
            </label>
        </div>
    </div>
    <br />
    <div class="row contact-addresses">
        <div class="col-lg-6 billing-address">
            <h4 class="underline"><i class="fa fa-file-text"></i> {% trans %}Billing Address{% endtrans %}</h4>
            {{ address_form(form["billing_address"]) }}
        </div>
        <div class="col-lg-6 shipping-address">
            <h4 class="underline"><i class="fa fa-truck"></i> {% trans %}Shipping Address{% endtrans %}</h4>
            {{ address_form(form["shipping_address"]) }}
        </div>
    </div>
{% endcall %}
