{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_with_sidebar %}

{% block content %}
    {% call content_with_sidebar(content_id="contact_form") %}
        <form method="post" id="contact_form">
            {% csrf_token %}
            {% for form_def in form.form_defs.values() %}
                {% if form_def.template_name %}
                    {% include form_def.template_name with context %}
                {% endif %}
            {% endfor %}
        </form>
    {% endcall %}
{% endblock %}
