{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_with_sidebar %}

{% block body_class %}shuup-details{% endblock %}
{% block content %}
    {% call content_with_sidebar(content_id="contact_form") %}
        <form method="post" id="contact_form" novalidate>
            {% csrf_token %}
            {% for form_def in form.form_defs.values() %}
                {% if form_def.template_name %}
                    {% include form_def.template_name with context %}
                {% endif %}
            {% endfor %}
        </form>
    {% endcall %}
{% endblock %}

{% block extra_js %}
<script>
(function(){
    var shouldCopyFields = false;

    function copyFieldValue() {
        if(!shouldCopyFields) {
            return;
        }
        var targetName = $(this).attr("id").split("-")[1];
        var $target = $("#id_shipping_address-"+targetName);
        $target.val($(this).val());
        if($target.is('select')) {
            $target.select2().val($(this).select2().val())
        }
    }

    $('#billing-to-shipping').click(function(){
        if($(this).is(':checked')){
            shouldCopyFields = true;
            $('.shipping-address :input').attr('readonly', true);
            $('.billing-address :input').change();
        } else {
            shouldCopyFields = false;
            $('.shipping-address :input').attr('readonly', false);
        }
    });

    $('.billing-address :input').on("input change", copyFieldValue);
}());
</script>
{% endblock %}
