<div class="block-settings dropdown">
    <button class="toggle-settings" id="block_id_dropdownMenu" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog"></i></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="block_id_dropdownMenu">
        <li><a href="#"><i class="fa fa-remove"></i>{% trans %}Remove block{% endtrans %}</a></li>
        <li><a href="#"><i class="fa fa-expand"></i>{% trans %}Resize block{% endtrans %}</a></li>
    </ul>
</div>
