<canvas id="canvas_doghnut" width="500" height="500"/>

<script>

    var doughnutData = [
        {
            value: 300,
            color:"#35A48C",
            highlight: "#35A48C",
            label: "Brand primary"
        },
        {
            value: 50,
            color: "#94B933",
            highlight: "#94B933",
            label: "Green"
        },
        {
            value: 100,
            color: "#DDCE2B",
            highlight: "#DDCE2B",
            label: "Yellow"
        },
        {
            value: 40,
            color: "#555555",
            highlight: "#555555",
            label: "Grey"
        },
        {
            value: 120,
            color: "#41589B",
            highlight: "#41589B",
            label: "Navy"
        }

    ];

</script>
