{% from "shuup/admin/macros/general.jinja" import content_block with context %}
{% set sp_form = form["customer_group_pricing"] %}
{% call content_block(_("Contact Group Pricing"), "fa-money") %}
    <p class="section-description">{% trans %}Here you can set individual pricing for different contact groups. This can be useful for special discounts or for B2B orders. These groups are defined in Contacts Settings – Contact Groups{% endtrans %}</p>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ sp_form.shop }}
            </h2>
        </div>
        <div class="panel-body">
            <div class="content">
                <div class="form-group">
                    {% for group in sp_form.groups %}
                        <label>{{ group }}</label>
                        {{ bs3.field(sp_form.get_shop_group_field(sp_form.shop, group), set_placeholder=False, render_label=False) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endcall %}
