<div class="privacy-policy-update">
    {% trans url=url, accept_url=accept_url %}Our privacy policy has been updated since your last consent. Please read the updated version <a href="{{ url }}">here</a>. <a class="btn btn-primary" href="{{ accept_url }}">Accept changes</a>{% endtrans %}
</div>
