{# Render monolingual fields #}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% for field in form.base %}
            {{ bs3.field(field) }}
        {% endfor %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                {# Render multilingual fields #}
                <ul class="nav nav-tabs" id="main-tabs" role="tablist">
                    {% for f in form.forms %}
                        {% if f in languages %}
                        <li role="presentation" class="nav-item" {% if f==default_language %}class="nav-item active" {% endif %}><a href="#lang-{{ f }}" role="tab" data-toggle="tab" class="nav-link">{{ languages[f] }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content">
                    {% for f in form.forms %}
                        {% if f in languages %}
                        <div id="lang-{{ f }}" class="tab-pane {% if f==default_language %}active{% endif %}" role="tabpanel">
                            {% for field in form.forms[f] %}
                                {{ bs3.field(field) }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
