{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import single_section_form with context %}
{% block title %}{{ attribute.name or _("New Attribute") }}{% endblock %}
{% block content %}
    {{ single_section_form("attribute_form", form) }}
{% endblock %}
