{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block %}
{% block title %}
    {% if success %}
        {% trans %}Installation Finished{% endtrans %}
    {% else %}
        {% trans %}Installation Failed{% endtrans %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="content-block">
            {% if success %}
                <h2><i class="fa fa-check text-success"></i> {% trans %}Success{% endtrans %}</h2>
                <p>{% trans %}Next{% endtrans %}, <a href="{{ url("shoop_admin:addon.list") }}" class="text-success"><strong>{% trans %}activate the newly installed addon{% endtrans %}</strong></a> {% trans %}and{% endtrans %} <a href="{{ url("shoop_admin:addon.reload") }}" class="text-success"><strong>{% trans %}reload your application server{% endtrans %}</strong></a>.</p>
            {% endif %}
            {% if error %}
                <h2><i class="fa fa-exclamation-circle text-danger"></i> {% trans %}Error{% endtrans %}</h2>
                <div class="alert alert-danger">
                    {{ error|linebreaks }}
                </div>
            {% endif %}
            {% if log_content %}
                <hr>
                <h4><i class="fa fa-file-text"></i> {% trans %}Installer Log{% endtrans %}</h4>
                <pre><code>{{ log_content }}</code></pre>
            {% endif %}
        </div>
    </div>
{% endblock %}
