{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros/general.jinja" import render_field %}

{% block navigation %}
    {{ render_navigation(show_quick_login=False) }}
{% endblock %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h1 class="page-header text-center">
                {% trans %}Registration{% endtrans %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <div class="well">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form.hidden_fields() %}{{ field|safe }}{% endfor %}
                    {% for field in form.visible_fields() %}{{ render_field(field) }}{% endfor %}
                    {% if shuup.general.is_company_registration_allowed() %}
                    <p>
                        <a href="{{ url("shuup:registration_register_company") }}">
                            {% trans %}Register as a company.{% endtrans %}
                        </a>
                    </p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-check"></i> {% trans %}Register{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
