{%- import "shuup/front/macros.jinja" as macros with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}{% endblock %}
    {# Page Title #}
    <title>{{ request.shop.public_name }} &ndash; {% block title %}{% endblock %}</title>
    {# Include Favicon #}
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}shuup/front/img/favicon.ico">
    {# Include Fonts #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    {# Include Styles #}
    <link rel="stylesheet" href="{{ STATIC_URL }}shuup/front/css/style.css">
</head>
<body>
    {% if request.shop.maintenance_mode %}
        <div class="alert alert-warning alert-top text-center alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% trans %}Shop is currently in maintenance mode.{% endtrans %}
        </div>
    {% endif %}
    <nav class="main-nav">
        {% include "shuup/front/includes/_navigation.jinja" %}
    </nav>
    <main class="main-container" role="main">
        <div class="container">
            {% block breadcrumb %}{% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if form and form.errors %}
                <div class="alert alert-dismissible alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-exclamation-circle"></i> {% trans %}There were errors on submitted form fields. Please check them and try again.{% endtrans %}
                </div>
            {% endif %}
            {% block before_content_title %}{% endblock %}
            {% if self.content_title() %}
                <h1 class="page-header">{% block content_title %}{% endblock %}</h1>
            {% endif %}
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    {% include "shuup/front/includes/_footer.jinja" %}

    {# Include JavaScript libraries #}
    <script src="{{ STATIC_URL }}shuup/front/js/scripts.js"></script>
    {# Include all Extra JavaScript #}
    {% block extrajs %}{% endblock %}
    {# Enable adding products to basket with ajax #}
    {% include "shuup/front/basket/add_product_to_basket.jinja" %}
</body>
</html>
