<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ static("img/shuup.ico") }}">
    <link rel="stylesheet" href="{{ shuup_static("shuup/front/css/style.css") }}">
    <title>{% trans %}Welcome to Shuup!{% endtrans %}</title>
    <style>
        h1 {
            font-weight: normal;
            font-size: 2em;
            margin-bottom: 25px;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            margin: 30px 0px;
        }
        .container {
            padding: 75px 0px;
        }
        .texts {
            margin: 30px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-push-3">
            <div class="text-center">
                {% set cropped_logo = request.shop.logo|thumbnail(size=(500,500)) %}
                {% if cropped_logo %}
                    <img src="{{ cropped_logo }}" alt="{{ request.shop.public_name }}">
                {% else %}
                    <img src="{{ static("shuup_admin/img/logo_with_text.svg") }}" alt="">
                {% endif %}
                <div class="texts">
                    <h1>{% trans name=request.shop.public_name or _("your shop") %}Welcome to {{ name }}!{% endtrans %}</h1>
                    <p>{% trans %}You are seeing this page because there is no theme selected for the default frontend.{% endtrans %}</p>
                    <p>
                            {% set admin_url=shuup.urls.get_url("shuup_admin:dashboard") %}
                            {% if admin_url %}
                                <p>
                                    <a href="{{ admin_url }}">
                                        {% trans %}Log in to the administration interface{% endtrans %}
                                    </a> {% trans %}to choose a theme and set up your shop.{% endtrans %}
                                </p>
                            {% else %}
                                <p>
                                    {% trans %}The administration interface does not seem to be available. Use other means to choose a theme.{% endtrans %}
                                </p>
                            {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
