<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ static("img/shuup.ico") }}">
    <link rel="stylesheet" href="{{ static("shuup/front/css/style.css") }}">

    <title>{% trans %}Maintenance mode{% endtrans %}</title>
    <style>
        body {
            background: #f4f4f4;
        }
        h1 {
            font-weight: normal;
            font-size: 2em;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            margin: 30px 0px;
        }
        .container {
            padding: 75px 0px;
        }
        .well {
            background: #fff;
            box-shadow: none;
            padding: 20px;
        }
        .texts {
            margin: 30px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-push-3">
            <div class="well text-center">
                {% set cropped_logo = request.shop.logo|thumbnail(size=(500,500)) %}
                {% if cropped_logo %}
                    <img src="{{ cropped_logo }}" alt="{{ request.shop.public_name }}">
                {% else %}
                    <img src="{{ static("shuup_admin/img/logo_with_text.svg") }}" alt="">
                {% endif %}
                <div class="texts">
                    <h1>{{ request.shop.public_name }}</h1>
                    {% if request.shop.maintenance_message %}
                        <p class="lead">{{ request.shop.maintenance_message }}</p>
                    {% else %}
                        <p class="lead">{% trans %}Shop is currently down for maintenance.{% endtrans %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
