<div class="scroll-inner-content">
    <ul class="menu-list">
        {% for category in shuup_admin.get_menu_entry_categories() %}
        {% set only_entry = (category.entries|first if category.entries|length == 1 else None) %}
        <li>
            <a href="{% if not only_entry %}#{% else %}{{ only_entry.url }}{% endif %}" data-target-id="category-{{ category.name }}">
                <i class="{{ category.icon }}"></i>
                <span class="item-name parent">{{ category.name }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% for category in shuup_admin.get_menu_entry_categories() %}
<div class="category-submenu" id="category-{{ category.name }}">
    <div class="category-menu-title">{{ category.name }}</div>
    <a href="#" class="category-menu-close"><i class="fa fa-close"></i></a>
    <div class="category-menu-content">
        <ul>
        {% for entry in category %}
            <li>
                <a href="{{ entry.url }}">{{ entry.text }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
