<button id="menu-button" class="nav-menu-button" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Menu{% endtrans %}">
    <span class="toggler">
        <span></span>
    </span>
</button>
<div class="logo-wrap">
    <a href="{{ url("shuup_admin:dashboard") }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Dashboard{% endtrans %}">
        <span class="logo desktop">
        <img src="{{ static("shuup_admin/img/logo.svg") }}">
        </span>
        <span class="logo mobile">
            <img src="{{ static("shuup_admin/img/logo-icon.svg") }}">
        </span>
    </a>
</div>
<a class="nav-btn shop-btn" href="{{ url("shuup_admin:home") }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Go home{% endtrans %}"><i class="fa fa-home"></i></a>

<div id="site-search" class="site-search">
    <div class="desktop d-sm-none d-md-block">
        <input type="search" accesskey="s" id="site-search-input" class="form-control site-search-input" placeholder="{% trans %}Search for{% endtrans %}..."><i class="input-icon fa fa-search"></i>
    </div>
    <div class="mobile text-right d-sm-none d-md-block">
        <button class="dropdown-toggle" id="dropdownSearch" type="button" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-search"></i>
        </button>
        <div class="dropdown-menu mobile-search-dropdown" role="menu" aria-labelledby="dropdownSearch">
            <input type="search" id="site-search-input-mobile" class="form-control site-search-input" placeholder="{% trans %}Search for{% endtrans %}..."><i class="input-icon fa fa-search"></i>
        </div>
    </div>

    <div id="site-search-results" class="site-search-results"></div>
</div>

{% set support_id=shuup_admin.get_support_id() %}
{% if support_id %}<p class="nav-text d-sm-none d-md-block">{% trans %}Support ID: {% endtrans %}{{ support_id }}</p>{% endif %}

{% set front_url=shuup_admin.get_front_url() %}
{% if front_url %}<a class="nav-btn shop-btn visit-store" href="{{ front_url }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Visit shop{% endtrans %}"><i class="fa fa-eye"></i></a>{% endif %}

<div class="dropdown">
    <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true" data-placement="bottom" title="{% trans %}Settings{% endtrans %}">
        <i class="fa fa-cog"></i>
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        {% if request.user.is_authenticated() %}
        <div class="username">
            <span class="icon"><i class="fa fa-user"></i></span>{% trans %}Hello{% endtrans %}, <span class="user">{{ request.user }}</span>!
        </div>
        {% if LANGUAGES|length > 1 %}
        <ul class="dropdown-list languages">
            {% for (code, name, local_name) in get_language_choices() %}
            <li><a href="#" class="{% if LANGUAGE_CODE == code %} active{% endif %}" data-value="{{ code }}">{{ name }} ({{ local_name }})</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="divider"></div>
        <ul class="dropdown-list">
            <li class="show-tour-li"><a href="#">{% trans %}Show Tour{% endtrans %}</a></li>
        </ul>
        <div class="actions">
            <a href="{{ url("shuup_admin:logout") }}" class="btn btn-block btn-sm btn-info">
                <i class="fa fa-sign-out"></i> {% trans %}Log out{% endtrans %}
            </a>
        </div>
        {% endif %}
    </div>
</div>
