{% if request.GET.popup %}
{% extends "shuup/admin/base_popup.jinja" %}
{% else %}
{% extends "shuup/admin/base.jinja" %}
{% endif %}
{% block title -%}
    {%- if title %}{{ title }}
    {%- elif view and view.model -%}{{ (""~view.model._meta.verbose_name_plural)|title }}
    {%- endif -%}
{%- endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="picotable"></div>
    </div>
{% endblock %}
{% block extra_js %}
<script src="{{ static("shuup_admin/js/picotable.js") }}"></script>
{% endblock %}
