{% if request.GET.popup %}
{% extends "shuup/admin/base_popup.jinja" %}
{% else %}
{% extends "shuup/admin/base.jinja" %}
{% endif %}
{% block title -%}
    {%- if title %}{{ title }}
    {%- elif view and view.model -%}{{ (""~view.model._meta.verbose_name_plural)|title }}
    {%- endif -%}
{%- endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="picotable"></div>
    </div>
{% endblock %}
{% block extra_js %}
<script src="{{ shuup_static("shuup_admin/js/picotable.js") }}"></script>
{% if listview %}
<script>
    function handleSetSent(event, link) {
            event.preventDefault();
            var warningMessage = "{% trans %}Do you want to mark this shipment as sent?{% endtrans %}";
            if (confirm(warningMessage)) {
                var form = document.createElement("form");
                form.method = "POST";
                console.log($(link).attr("href"));
                form.action = $(link).attr("href");
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "csrfmiddlewaretoken";
                input.id = "language-field";
                input.value = "{{ csrf_token }}";
                var input2 = document.createElement("input");
                input2.type = "hidden";
                input2.name = "shipment_id";
                input2.value = $(link).attr("shipment_id");
                form.appendChild(input).appendChild(input2);
                document.body.appendChild(form);
                form.submit();
            }
            return false;
        }
</script>
{% endif %}
{% endblock %}
