<dl class="dl-horizontal">
    {% for attribute in attributes %}
        {% if attribute.value is not none %}
            <dt>{{ attribute.name }}</dt>
            <dd>{{ attribute.formatted_value }}</dd>
        {% endif %}
    {% endfor %}
</dl>
