{% extends "shuup/front/base.jinja" %}

{% block title %}{% trans %}Newest products{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Newest products{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
        <li class="active">{% trans %}Newest products{% endtrans %}</li>
    </ol>
{% endblock %}

{% block content %}
    {% placeholder "products_extra" %}{% endplaceholder %}
    <hr>
    <div class="row">
        <div class="col-md-3 categories-nav">
            {% include "shuup/front/includes/_category_menu.jinja" %}
        </div>
        <div class="col-md-9 products-wrap">
            <div class="clearfix product-list-actions">
                <div class="toggle-view">
                    <span class="control-label">{% trans %}Show Grid/List{% endtrans %}</span>
                    <input id="product-list-view-type" type="checkbox">
                    <label data-original-title="{% trans %}Grid/list view{% endtrans %}" for="product-list-view-type" data-toggle="tooltip" title="">
                        <i class="grid fa fa-th"></i>
                        <i class="list fa fa-list"></i>
                    </label>
                </div>
            </div>
            <hr class="visible-sm visible-xs">
            <div class="row product-list-view grid">
                {% for product in shuup.general.get_newest_products(n_products=9) if shuup.product.is_visible(product) %}
                    <div class="single-product">
                        {{ macros.product_box(product, show_description=True, class="product-card box") }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
