{%- from "shuup/front/macros/product.jinja" import render_product_order_section, render_product_price with context -%}

<div class="product-preview-modal modal fade"
     id="product-{{ product.id }}-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="product-{{ product.id }}-preview">
    <div class="modal-dialog" role="document">
        <button type="button"
                class="close-modal"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        <div class="modal-content" id="product-{{ product.id }}-preview">
            <div class="modal-body">
                <div class="row">
                    <div class="preview-image">
                        {% if product|is_discounted %}
                            <div class="badge product-badge sale">
                                {% set discount_percent = product|discount_percent %}
                                {{- _("Save %(discount_percent)s", discount_percent=discount_percent) -}}
                            </div>
                        {% endif %}
                        {% set image = product.primary_image|thumbnail(size=(360, 360), crop="scale", upscale=True) %}
                        {% if image %}
                            <img src="{{ image }}" class="primary-image" alt="{{ product.name }}">
                        {% else %}
                            <img src="{{ static("front/img/no_image.png") }}" class="no-image" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <div class="preview-details">
                        <h2>{{ product.name }}</h2>
                        {% if product.short_description %}
                            <p class="description">
                                {{ product.short_description|safe }}
                            </p>
                        {% endif %}
                        {% if show_prices() and not xtheme.get("hide_prices") %}
                            <div class="product-price">
                                {{ render_product_price(product) }}
                            </div>
                        {% endif %}
                        <hr>
                        {{ order_form }}
                        <hr>
                        {% set product_url = url("shuup:product", pk=product.pk, slug=product.slug) %}
                        <a href="{{ product_url }}"
                           class="btn-open-page btn btn-default btn-block">
                            <i class="fa fa-search"></i> {% trans %}Open product page{% endtrans %}
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
