<div class="form-def" data-name="{{ pane.identifier }}" id="sample-data-form">
    <div class="row">
        <div class="panel panel-default col-md-6 offset-md-3">
            <h2>{{ _("Select the objects you want to install") }}</h2>
            {% for field in pane.forms[form_def.name] %}
                {{ bs3.field(field) }}
            {% endfor %}
        </div>
    </div>
</div>
