{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block, info_row %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {% trans email=object.email %}Send a password reset email to {{ email }}?{% endtrans %}
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-envelope"></i>
                    {% trans %}Send Reset Email{% endtrans %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
