<button id="menu-button" class="nav-menu-button" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Menu{% endtrans %}">
    <span class="toggler">
        <span></span>
    </span>
</button>

<div class="logo-wrap">
    <a href="{{ url("shoop_admin:dashboard") }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Dashboard{% endtrans %}">
        <span class="logo desktop">
            <img src="{{ static("shoop_admin/img/logo.svg") }}">
        </span>
        <span class="logo mobile">
            <img src="{{ static("shoop_admin/img/logo-icon.svg") }}">
        </span>
    </a>
</div>

<div id="site-search" class="site-search">
    <div class="desktop hidden-xs">
        <input type="search" accesskey="s" id="site-search-input" class="form-control site-search-input" placeholder="{% trans %}Search for{% endtrans %}..."><i class="input-icon fa fa-search"></i>
    </div>
    <div class="mobile text-right visible-xs">
        <button class="dropdown-toggle" id="dropdownSearch" type="button" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-search"></i>
        </button>
        <div class="dropdown-menu mobile-search-dropdown" role="menu" aria-labelledby="dropdownSearch">
            <input type="search" id="site-search-input-mobile" class="form-control site-search-input" placeholder="{% trans %}Search for{% endtrans %}..."><i class="input-icon fa fa-search"></i>
        </div>
    </div>

    <div id="site-search-results" class="site-search-results"></div>
</div>

{% set front_url=shoop_admin.get_front_url() %}
{% if front_url %}<a class="nav-btn shop-btn" href="{{ front_url }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Visit shop{% endtrans %}"><i class="fa fa-shopping-cart"></i></a>{% endif %}

<div class="dropdown">
    <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true" data-placement="bottom" title="{% trans %}User{% endtrans %}">
        <i class="fa fa-user"></i>
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        {% if request.user.is_authenticated() %}
        <div class="username">
            <span class="icon"><i class="fa fa-user"></i></span>{% trans %}Hello{% endtrans %}, <span class="user">{{ request.user }}</span>!
        </div>
        <div class="actions">
            <a href="{{ url("shoop_admin:logout") }}" class="btn btn-block btn-sm btn-info">
                <i class="fa fa-sign-out"></i> {% trans %}Log out{% endtrans %}
            </a>
        </div>
        {% endif %}
    </div>
</div>
