{% from "shoop/admin/macros/general.jinja" import content_block %}
{% set contact_form = form["base"] %}

{% call content_block(_("Basic details"), "fa-info-circle") %}
    {{ bs3.field(contact_form.type) }}
    {{ bs3.field(contact_form.is_active) }}
    {{ bs3.field(contact_form.groups) }}
    {{ bs3.field(contact_form.name) }}
    {{ bs3.field(contact_form.name_ext) }}
    {{ bs3.field(contact_form.email) }}
    {{ bs3.field(contact_form.phone) }}
    {{ bs3.field(contact_form.language) }}
    {{ bs3.field(contact_form.timezone) }}
    {{ bs3.field(contact_form.www) }}
    {{ bs3.field(contact_form.marketing_permission) }}
    {{ bs3.field(contact_form.gender) }}
    {{ bs3.field(contact_form.birth_date) }}
    {{ bs3.field(contact_form["prefix"]) }}
    {{ bs3.field(contact_form.suffix) }}
    {{ bs3.field(contact_form.tax_number) }}
    {{ bs3.field(contact_form.tax_group) }}
{% endcall %}
