{% extends "shoop/admin/base.jinja" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 section-navigation" data-navigatee="contact_form"></div>
            <div class="col-md-9">
                <form method="post" id="contact_form">
                    {% csrf_token %}
                    {% for form_def in form.form_defs.values() %}
                        {% if form_def.template_name %}
                            {% include form_def.template_name with context %}
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
