{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}
{% from "shoop/admin/macros/general.jinja" import content_block, content_with_sidebar %}

{% block content %}
    {% call content_with_sidebar(content_id="service_form") %}
        <form method="post" id="service_form">
            {% csrf_token %}
            {% set form_defs = form.form_defs %}
            {% include form_defs["base"].template_name with context %}
            {% if form_defs|length > 1 %}
            {% call content_block(_("Behavior"), ("fa-cubes")) %}
                <div class="form-group">
                    <label class="control-label" for="id_component-select">{% trans %}Behavior component type{% endtrans %}</label>
                    <select class="form-control" id="component-select">
                        {% for form_def in form_defs %}
                            {% if form_def != "base" %}
                                {% set form_prefix = form_def %}
                                {% set formset = form[form_def] %}
                                <option data-target-id="id_{{ form_prefix }}" value="{{ form_prefix }}">{{ formset.get_name() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center" id="component-button">
                    <a class="btn btn-lg btn-text" href="#">+ {% trans %}Add component{% endtrans %}</a>
                </div>
                {% for form_def in form_defs %}
                    {% if form_def != "base" %}
                        {% set form_prefix = form_def %}
                        {% set formset = form[form_def] %}
                        {% set template_name = form_defs[form_def].template_name %}
                        {% include template_name with context %}
                    {% endif %}
                {% endfor %}
                <div class="hide" id="insert-placeholder"></div>
            {% endcall %}
            {% endif %}
        </form>
    {% endcall %}
{% endblock %}

{% block extra_js %}
{{ super() }}
<script>
    $(function () {
        $("#component-button .btn").on("click", function (event) {
            event.preventDefault();
            var $selection = $("#component-select").find("option:selected");
            var component = $selection.val();
            var $source = $("#" + component+ "-placeholder");
            var targetID = $selection.data("target-id");
            var $totalFormsField = $("#" + targetID + "-TOTAL_FORMS");
            var componentCount = parseInt($totalFormsField.val());
            var html = $source.html().replace(/__prefix__/g, componentCount);
            var $componentsPlaceholder = $("#insert-placeholder");
            $(html).insertAfter($componentsPlaceholder);
            $totalFormsField.val(componentCount + 1);
        });
        $("#id_base-payment_processor,#id_base-carrier").on("change", function() {
            var url = window.location.href.split('?')[0];
            location.href = url + "?provider=" + $(this).val();
        });
    });
</script>
{% endblock %}
