{% from "shoop/admin/macros/general.jinja" import content_block with context %}
{% set dp_form = form["discount_pricing"] %}
{% call content_block(_("Discounted Price"), "fa-money") %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped">
            <tbody>
            <tr>
                <th></th>
                <th>{{ _("Discounted Price for Shop") }}</th>
            </tr>
            {% for shop in dp_form.shops %}
                <tr>
                    <th scope="row">{% if shop %}{{ shop }}{% else %}<i>other shops</i>{% endif %}</th>
                    <td>{{ bs3.field(dp_form.get_shop_field(shop), set_placeholder=False, render_label=False) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endcall %}
