{% if shop and shop.logo %}
<div class="text-center">
    <button class="btn btn-info" type="button" id="calculate-best-size">
        {{ _("Calculate the best logo size") }}
    </button>
    <button class="btn btn-primary" type="button" id="reset-shop-logo">
        {{ _("Reset shop logo values") }}
    </button>
</div>
<div class="shop-logo-preview-container">
    <h3 class="text-center">{{ _("Shop logo preview") }}</h3>
    <div class="shop-logo-preview-content">
        <div class="shop-logo-preview" id="shop-logo-preview">
            <div class="shop-logo image" style="background-image:url('{{ shop.logo.url }}')"></div>
        </div>
    </div>
    <div class="text-center text-muted">
        <small>{{ _("Original image size: {width} x {height}").format(width=shop.logo.width, height=shop.logo.height) }}</small>
    </div>
</div>
{% endif %}
