<script>
    (function() {
        var bestMaxLogoHeight = 80;
        var bestMaxLogoWidth = 200;

        var originalWidth = {{ shop.logo.width if shop.logo else 0 }};
        var originalHeight = {{ shop.logo.height if shop.logo else 0 }};

        function setImageSize() {
            var width = $("input[name='shop_logo_width']").val();
            var height = $("input[name='shop_logo_height']").val();
            var alignment = $(":input[name='shop_logo_alignment']").val();

            $("#shop-logo-preview").css("height", height);
            $("#shop-logo-preview").css("width", width);
            $(".shop-logo").removeClass("left").removeClass("right").removeClass("center").addClass(alignment);
        }

        function changeSize(size = "width") {
            var width = parseInt($("input[name='shop_logo_width']").val(), 10);
            var maxWidth = parseInt($("input[name='shop_logo_width']").prop("max"), 10);
            var height = parseInt($("input[name='shop_logo_height']").val(), 10);
            var maxHeight = parseInt($("input[name='shop_logo_height']").prop("max"), 10);
            var keepAspectRatio = $(":input[name='shop_logo_aspect_ratio']").prop("checked");

            if (keepAspectRatio && originalHeight && originalWidth) {
                if (size === "width") {
                    height = Math.round((originalHeight / originalWidth) * width);
                } else {
                    width = Math.round((originalWidth / originalHeight) * height);
                }
            }

            if (width > maxWidth) {
                width = maxWidth;
            }
            if (height > maxHeight) {
                height = maxHeight;
            }

            $("input[name='shop_logo_height']").val(height);
            $("input[name='shop_logo_width']").val(width);

            setImageSize();
        }

        function calculateBestSizes() {
            $("input[name='shop_logo_aspect_ratio']").prop("checked", true);

            // the image is squared, make it 80x80
            if (Math.abs(originalHeight - originalWidth) <= 1) {
                $("input[name='shop_logo_height']").val(bestMaxLogoHeight);
                $("input[name='shop_logo_width']").val(bestMaxLogoHeight);
                changeSize();

            // logo is retangular, set the best height size so we don't explode the width
            } else if (originalWidth > originalHeight) {
                $("input[name='shop_logo_height']").val(bestMaxLogoHeight);
                changeSize("height");

            // logo is a portrait image (omg) - use the best width
            } else {
                $("input[name='shop_logo_width']").val(bestMaxLogoWidth);
                changeSize();
            }
        }

        // add listeners
        $("input[name='shop_logo_width']").on("change", function (e){
            changeSize();
        });
        $("input[name='shop_logo_height']").on("change", function (e){
            changeSize("height");
        });
        $(":input[name='shop_logo_alignment']").on("change", function (){
            changeSize();
        });
        $("#reset-shop-logo").click(function() {
            $("input[name='shop_logo_width']").val(bestMaxLogoWidth);
            $("input[name='shop_logo_height']").val(bestMaxLogoHeight);
            $("input[name='shop_logo_aspect_ratio']").prop("checked", true);
            changeSize();
        });
        $("#calculate-best-size").click(calculateBestSizes);
        $("input[name='shop_logo_aspect_ratio']").on("change", function (e) {
            if (e.target.checked) {
                $("input[name='shop_logo_height']").prop("readonly", true);
            } else {
                $("input[name='shop_logo_height']").prop("readonly", false);
            }
        });

        if (document.getElementById("shop-logo-preview")) {
            setImageSize();
            if ($(":input[name='shop_logo_aspect_ratio']").prop("checked")) {
                $("input[name='shop_logo_height']").prop("readonly", true);
                changeSize();
            }
        }
    })();
</script>
