{% extends "shuup/admin/base.jinja" %}
{% from "shuup/xtheme/admin/macros.jinja" import theme_table %}
{% block title %}{% trans %}Classic Gray{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="content-block">
            <p>{% trans %}This theme has no special settings to configure.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
