<button class="del-cell-btn"
        data-x="{{ current_cell_coords[0] }}"
        data-y="{{ current_cell_coords[1] }}">
    {% trans %}Delete Cell{% endtrans %}
</button>
{% if form %}
    <form action="" method="POST">
        {% csrf_token %}
        <input name="save" type="hidden" value="1"/>
        {{ form.general|safe }}
        <hr>
        {% if "plugin" in form.forms %}
            <table>
            {{ form.plugin.as_table()|safe }}
            </table>
        {% else %}
            <i>{% trans %}There's nothing to configure in this plugin.{% endtrans %}</i>
        {% endif %}
        <input type="submit" value="Save">
    </form>
{% endif %}
