<div id="layout">
    <h3>Edit Placeholder: {{ layout.placeholder_name }}</h3>
    {% for row in layout.rows %}
        {% set y = loop.index0 %}
        <div class="layout-row">
            <div class="layout-row-cells">
                {% for cell in row.cells -%}
                    {% set x = loop.index0 %}
                    <div class="layout-cell {% if (x, y) == current_cell_coords %}current{% endif %}" data-y="{{ y }}" data-x="{{ x }}">
                        {{- cell.plugin_name -}}
                    </div>
                {%- endfor %}
            </div>
            <button class="layout-add-cell-btn" data-y="{{ y }}">
                <i class="fa fa-plus-circle"></i>
            </button>
            <button class="layout-del-row-btn" data-y="{{ y }}">
                <i class="fa fa-minus-circle"></i>
            </button>
        </div>
    {% endfor %}
    <button class="layout-add-row-btn">
        <i class="fa fa-plus"></i> {% trans %}Add new row{% endtrans %}
    </button>
</div>
