{% from "shuup/admin/macros/general.jinja" import content_block %}
{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}
{% set product_form = form["base"] %}

{% call content_block(_("Additional Details"), "fa-file-text", collapsed=True) %}
    {{ bs3.field(product_form.barcode) }}
    {{ bs3.field(product_form.gtin) }}
    {{ bs3.field(product_form.category) }}
    {% call(form, language, map) language_dependent_content_tabs(product_form, tab_id_prefix="additional-language") %}
        {{ bs3.field(product_form[map.variation_name]) }}
        {{ bs3.field(product_form[map.status_text]) }}
        {{ bs3.field(product_form[map.keywords]) }}
    {% endcall %}
{% endcall %}

{% call content_block(_("Accounting"), "fa-book", collapsed=True) %}
    {{ bs3.field(product_form.accounting_identifier) }}
    {{ bs3.field(product_form.profit_center) }}
    {{ bs3.field(product_form.cost_center) }}
{% endcall %}

{% call content_block(_("Manufacturer"), "fa-building", collapsed=True) %}
    {{ bs3.field(product_form.manufacturer) }}
{% endcall %}
