{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_with_sidebar, content_block %}

{% block content %}
    {% if orderability_errors %}
        <div class="container-fluid">
            {# TODO: FIX THIS FOR MOBILE SCREEN SIZES #}
            <p class="pull-right" data-toggle="tooltip" data-title="{% for error in orderability_errors %}{{ error }} {% endfor %}" data-placement="bottom">
                <i class="fa fa-info-circle text-info"></i> {% trans %}This product is currently not orderable.{% endtrans %}
            </p>
        </div>
    {% endif %}
    <form method="post" id="product_form">
        {% csrf_token %}
        {% for form_def in form.form_defs.values() %}
            {% if form_def.required %}
                {% include form_def.template_name with context %}
            {% endif %}
        {% endfor %}
        {% for form_def in form.form_defs.values() %}
            {% if not form_def.required %}
                    {% include form_def.template_name with context %}
            {% endif %}
        {% endfor %}
    </form>
    {% for product_section in product_sections %}
        {% call content_block(product_section.name, product_section.icon, collapsed=True) %}
            {% include product_section.template with context %}
        {% endcall %}
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script src="{{ static("shuup_admin/js/product.js") }}"></script>
    <script src="{{ static("shuup_admin/js/remarkable.js") }}"></script>
    <script>
        function saveAsACopy(){
            $("#product_form").attr("action", "{{ url('shuup_admin:product.new') }}").submit();
        }
    </script>
    {% for product_section in product_sections %}
        {% if product_section.extra_js %}
            {% include product_section.extra_js with context %}
        {% endif %}
    {% endfor %}
{% endblock %}
