{% extends "shuup/admin/base_picotable.jinja" %}

{% block extra_js %}
    <script src="{{ static("shuup_admin/js/picotable.js") }}"></script>
    <script src="{{ static("simple_supplier/js/extra.js") }}"></script>
{% endblock %}
