<div id="{{ div_id }}" class="stock-information">
    {% if stock %}
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                {% trans count=stock.physical_count|floatformat(sales_decimals) %}
                <h5>Physical count ({{ sales_unit }})</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">{{ count }}</span>
            {% endtrans %}
            </div>
        </div>
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                {% trans count=stock.logical_count|floatformat(sales_decimals) %}
                <h5>Logical count ({{ sales_unit }})</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">{{ count }}</span>
            {% endtrans %}
            </div>
        </div>
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                {% trans value=stock.stock_unit_price|money %}
                <h5>Value per unit</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">{{ value }}</span>
            {% endtrans %}
            </div>
        </div>
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                {% trans value=stock.stock_value|money %}
                <h5>Total value</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">{{ value }}</span>
            {% endtrans %}
            </div>
        </div>
    {% if alert_limit %}
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                {% trans limit=stock.alert_limit|floatformat %}
                <h5>Alert limit ({{ sales_unit }})</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">{{ limit }}</span>
            {% endtrans %}
            </div>
        </div>
    {% endif %}
    {% else %}
        {% trans %}No stock information available.{% endtrans %}
    {% endif %}
</div>
