{% extends "shuup/front/base.jinja" %}
{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block content %}
    <form role="form" method="post" action="">
        {% csrf_token %}
        <div class="well">
            <fieldset>
                {% for field in form.visible_fields() %}
                    {{ macros.render_field(field) }}
                {% endfor %}
            </fieldset>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> {% trans %}Save password{% endtrans %}</button>
    </form>
{% endblock %}
