{% extends "shuup/front/dashboard/dashboard.jinja" %}
{% from "shuup/customer_information/macros/buttons.jinja" import user_account_button, save_password_button %}

{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% call macros.breadcrumb() %}
        {{ macros.render_breadcrumb_item("/", _("Home")) }}
        {{ macros.render_breadcrumb_item(url("shuup:dashboard"), _("Dashboard")) }}
        {{ macros.render_breadcrumb_item(None, _("Change password"), True) }}
    {% endcall %}
{% endblock %}

{% block dashboard_content %}
    <div class="user-account">
        <form role="form" method="post" action="">
            {% csrf_token %}
            <div class="btn-toolbar pull-right" role="toolbar">
                {{ user_account_button() }}
                {{ save_password_button() }}
            </div>
            <div class="clearfix"></div>
            <div class="well">
                <fieldset>
                    {% for field in form.visible_fields() %}
                        {{ macros.render_field(field) }}
                    {% endfor %}
                </fieldset>
            </div>
            <div class="btn-toolbar pull-right" role="toolbar">
                {{ save_password_button() }}
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}
