{% extends "shuup/front/base.jinja" %}
{% from "shuup/customer_information/macros.jinja" import render_address_forms, render_address_forms_js %}
{% block title %}{% trans %}Company account information{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Company account information{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
        <li class="active">{% trans %}Company account information{% endtrans %}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="user-account">
        <form role="form" method="post" action="">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-info" href="{{ url("shuup:customer_edit") }}">
                        <i class="fa fa-user"></i> {% trans %}Edit user account information{% endtrans %}
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans %}Save changes{% endtrans %}</button>
                </div>
            </div>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% for field in form.contact.hidden_fields() %}{{ field|safe }}{% endfor %}
            <div class="well">
                <fieldset>
                    <legend>{% trans %}Company information{% endtrans %}</legend>
                    {% for field in form.contact.visible_fields() %}
                        {{ macros.render_field(field) }}
                    {% endfor %}
                </fieldset>
            </div>
            {{ render_address_forms(form.billing, form.shipping) }}
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans %}Save changes{% endtrans %}</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}

{% block extrajs %}
    {{ render_address_forms_js() }}
{% endblock %}
