{% extends "shuup/customer_information/macros/theme/buttons.jinja" %}

{% macro user_account_button() %}
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{{ url("shuup:customer_edit") }}">
            <i class="fa fa-user"></i> {% trans %}Edit user account information{% endtrans %}
        </a>
    </div>
{% endmacro %}

{% macro save_password_button() %}
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> {% trans %}Save password{% endtrans %}
        </button>
    </div>
{% endmacro %}

{% macro save_changes_button() %}
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> {% trans %}Save changes{% endtrans %}</button>
    </div>
{% endmacro %}

{% macro company_account_button(request) %}
{% if shuup.general.is_company_registration_allowed(request) %}
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{{ url("shuup:company_edit") }}">
            {% if request.is_company_member %}
                <i class="fa fa-users"></i> {% trans %}Edit company information{% endtrans %}
            {% else %}
                <i class="fa fa-link"></i> {% trans %}Link account to company{% endtrans %}
            {% endif %}
        </a>
    </div>
{% endif %}
{% endmacro %}

{% macro change_password_button() %}
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{{ url("shuup:change_password") }}">
            <i class="fa fa-cog"></i> {% trans %}Change password{% endtrans %}
        </a>
    </div>
{% endmacro %}
