{% extends "shuup/front/base.jinja" %}
{% block title %}{% trans %}Account activation{% endtrans %}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="page-header">{% trans %}Account activation{% endtrans %}</h1>
        <p class="lead"><i class="fa fa-exclamation-circle text-danger"></i> {% trans %}Account activation failed.{% endtrans %}</p>
    </div>
{% endblock %}
