<section class="cms-page-links-plugin">
    {% if title %}<h2>{{ title }}</h2>{% endif %}
    {% if pages %}
        <ul>
        {% for page in pages %}
            <li>
                <a href="{{ url('shuup:cms_page', url=page.url) }}">{{ page }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</section>
