{% if request.is_ajax() %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("form.add-to-basket").on("submit", function(e) {
                e.preventDefault();
                addToBasket($(this));
                $(".product-preview-modal").modal("hide");
            });
        });
    </script>
{% endif %}

{% if not quantity %}
    {% set quantity = shop_product.rounded_minimum_purchase_quantity %}
{% endif %}

{% macro add_to_cart_btn(is_orderable) %}
    {% if is_orderable %}
    <div class="clearfix btn-add-to-cart">
        <button type="submit" class="btn btn-primary btn-block btn-lg" id="add-to-cart-button"><i class="fa fa-shopping-cart"></i> {% trans %}Add to cart{% endtrans %}</button>
    </div>
    {% else %}
    <div class="clearfix btn-add-to-cart">
        <button type="submit" class="btn btn-primary btn-block btn-lg not-orderable" id="add-to-cart-button" disabled><i class="fa fa-shopping-cart"></i> {% trans %}Add to cart{% endtrans %}</button>
        <p class="text-right text-muted"><i class="fa fa-info-circle text-info"></i> {% trans %}Product is not orderable.{% endtrans %}</p>
    </div>
    {% endif %}
{% endmacro %}

{% macro quantity_box() %}
    <div class="form-group amount">
        <label for="product-quantity">{% trans %}Quantity{% endtrans %}</label>
        <div class="input-group">
            <input
            type="number"
            class="form-control"
            name="quantity"
            id="product-quantity"
            step="{{ shop_product.quantity_step }}"
            value="{{ quantity }}"
            min="{{ shop_product.rounded_minimum_purchase_quantity }}"
            >
            <span class="input-group-addon sales-unit">{{ product.sales_unit.short_name }}</span>
        </div>
    </div>
{% endmacro %}

{% macro product_order_section(product, quantity, is_orderable) %}
    <div class="row">
        <div class="col-sm-6">
            {{ quantity_box() }}
        </div>
        <div class="col-sm-6">
            {{ product_price_div(product, quantity) }}
        </div>
    </div>
    {{ add_to_cart_btn(is_orderable) }}
{% endmacro %}

{% macro product_price_div(product, quantity) %}
    <div class="price text-right" id="product-price-div">
        {% set price_info = product.get_price_info(request, quantity) %}
        <h2>
            <small class="text-muted">{% trans %}Total{% endtrans %}:</small>
            <span id="product-price"><strong>{{ price_info.price|money }}</strong></span>
        </h2>
        <span class="small text-muted">
            {% if price_info.is_discounted %}
            (<s>{{ price_info.base_unit_price|money }}</s>)
            {% endif %}
            {{ price_info.discounted_unit_price|money }}/{{ product.sales_unit.short_name }}
        </span>
    </div>
{% endmacro %}

{% macro variable_variation_form() %}
    <input type="hidden" name="command" value="add_var">
    <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}">
    <div class="product-variations">
        {% for var in variation_variables %}
            <div class="form-group">
                <label for="var_{{ var.pk }}">{% trans %}Select{% endtrans %} {{ var.name }}</label>
                <select name="var_{{ var.pk }}" id="var_{{ var.pk }}" class="form-control selectpicker variable-variation">
                    {% for pvvv in var.values.all() %}
                        <option value="{{ pvvv.pk }}">{{ pvvv.value }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        {{ product_order_section(product, quantity, True) }}
    </div>
{% endmacro %}

{% macro simple_variation_form() %}
    {% set is_orderable = (orderable_variation_children|length > 0) %}
    <div class="product-variations">
        <input type="hidden" name="command" value="add">
        <div class="form-group">
            <label for="product-variations">{% trans %}Select product{% endtrans %}</label>
            <select name="product_id" id="product-variations" class="form-control selectpicker">
                {% for p in orderable_variation_children %}
                    <option value="{{ p.id }}"{% if selected_child and selected_child == p.id %} selected{% endif %}>
                        {{ p.variation_name or p.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {{ product_order_section(product, quantity, is_orderable) }}
    </div>
{% endmacro %}

{% macro simple_product_form() %}
    <input type="hidden" name="command" value="add">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    {% set is_orderable=shop_product.is_orderable(supplier=None, customer=request.customer, quantity=quantity) %}
    <div class="prices">
        {{ product_order_section(product, quantity, is_orderable) }}
    </div>
{% endmacro %}

<form role="form" method="post" action="{{ url("shoop:basket") }}" class="add-to-basket">
    {% set return_path = return_url if return_url else request.path %}
    <input type="hidden" name="return" value="{{ return_path }}">
    {% if unorderability_reason %}
        <p class="text-warning not-orderable">{{ unorderability_reason }}</p>
    {% elif variation_variables %}
        {{ variable_variation_form() }}
    {% elif variation_children %}
        {{ simple_variation_form() }}
    {% else %}
        {{ simple_product_form() }}
    {% endif %}
</form>
