<div class="price text-right" id="product-price-div">
    <h2 id="no-price">
        <small class="text-muted">{% trans %}Total{% endtrans %}:</small>
        <span id="product-price"><strong>--</strong></span>
    </h2>
    <span class="small text-muted">{% trans %}Combination not available{% endtrans %}</span>
</div>
