{# TODO: Make this actually work #}
{% set productid = 30 %}
<div class="product-preview-modal fade" id="product-{{ productid }}-modal" tabindex="-1" role="dialog" aria-labelledby="product-{{ productid }}-preview">
    <div class="product-preview-modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="content" id="product-{{ productid }}-preview">
            <div class="row">
                <div class="col-md-6">
                    {# TODO: Add proper image #}
                    <div class="image" style="background-image:url('{{ image }}')"></div>
                </div>
                <div class="col-md-6">
                    <a href="#" class="name"><h3>Product name</h3></a>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iste distinctio sed architecto rem.</p>
                    <div class="price">10,99 €</div>
                    <hr>
                    <div class="form-group">
                        <label for="asd">Color</label>
                        <select name="asd" id="asd" class="form-control selectpicker">
                            <option value="1">Color 1</option>
                            <option value="2">Color 2</option>
                        </select>
                    </div>
                    <button class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
