{% extends "shoop/front/base.jinja" %}
{% set priceinfo = product.get_price_info(request) %}

{% block extrameta %}
    <meta property="og:site_name" content="{{ request.shop }}">
    <meta property="og:type" content="product">
    <meta property="og:url" content="{{ shoop.urls.model_url(product, absolute=True) }}">
    <meta property="og:title" content="{{ product.name }}">
    {% if primary_image %}
        <meta property="og:image" content="{{ request.build_absolute_uri(primary_image.url) }}">
    {% endif %}
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
        {% set category = shop_product.primary_category %}
        {% if category %}
            {% for c in category.get_ancestors() if c.is_visible(customer=request.customer) %}
                <li><a href="{{ shoop.urls.model_url(c) }}">{{ c.name }}</a></li>
            {% endfor %}
        {% endif %}
        <li class="active">{{ product.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row product-main">
        <div class="visible-xs">
            <div class="col-sm-12">
                <h1 class="product-name">{{ product.name }}</h1>
                <p class="text-muted product-sku"><small>{{ product.sku }}</small></p>
                {% if product.description %}
                    <p class="product-short-description">{{ product.description|safe|truncate(150, False) }}</p>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="product-image col-sm-6 col-md-5">
            {% if priceinfo.is_discounted %}
                <div class="discount">
                    <span class="label label-danger">{% trans %}Save{% endtrans %} {{ priceinfo.discount_percentage|int }} %</span>
                </div>
            {% endif %}
            {% include "shoop/front/product/_product_images.jinja" %}
        </div>
        <div class="product-basic-details col-sm-6 col-md-7">
            <div class="hidden-xs">
                <h1 class="product-name">{{ product.name }}</h1>
                <p class="text-muted product-sku"><small>{{ product.sku }}</small></p>
                {% if product.description %}
                    <p class="product-short-description">{{ product.description|safe|truncate(150, False) }}</p>
                {% endif %}
            </div>
            <hr>
            <div class="product-price">
                {% if priceinfo.is_discounted %}
                    <div class="price-line">
                        <h4 class="visible-xs">{% trans %}Price{% endtrans %}</h4>
                        <span class="lead">
                            <small class="text-muted original-price"><s>{{ priceinfo.base_price|floatformat(2)|home_currency }}</s></small>
                            <strong>{{ priceinfo.price|floatformat(2)|home_currency }}</strong><small> / {{ product.sales_unit.short_name }}</small>
                        </span>
                    </div>
                {% else %}
                    <div class="price-line"><span class="lead"><strong>{{ priceinfo.price|floatformat(2)|home_currency }}</strong><small> / {{ product.sales_unit.short_name }}</small></span></div>
                {% endif %}
            </div>
            <hr>
            <div class="well" id="product-price-section">
                {% include "shoop/front/product/_detail_order_section.jinja" with context %}
            </div>
        </div>
    </div>
    <hr>
    <h3>{% trans %}Product Information{% endtrans %}</h3>

    <div class="product-tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">{% trans %}Description{% endtrans %}</a></li>
            <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">{% trans %}Details{% endtrans %}</a></li>
            {% if shoop.product.get_visible_attributes(product) %}
                <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">{% trans %}Attributes{% endtrans %}</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="product-description tab-pane fade in active" id="tab1">
                {% if product.description %}
                    {{ product.description|markdown|safe }}
                {% else %}
                    {% trans %}No product description available{% endtrans %}
                {% endif %}
            </div>
            <div role="tabpanel" class="product-attributes tab-pane fade" id="tab2">
                {% include "shoop/front/product/_detail_details_section.jinja" %}
            </div>
            {% if shoop.product.get_visible_attributes(product) %}
                <div role="tabpanel" class="product-attributes tab-pane fade" id="tab3">
                    {% include "shoop/front/product/_detail_attributes_section.jinja" %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if package_children %}
        <hr>
        <h3>{% trans %}Includes these products{% endtrans %}</h3>
        <div class="row">
            {% for child in package_children %}
                <div class="col-md-3">
                    {{ macros.product_box(child) }}
                </div>
            {% endfor %}
        </div>

    {% elif package_parents %}
        <hr>
        <h3>{% trans %}Also available in{% endtrans %}</h3>
        <div class="row">
            {% for parent in package_parents %}
                <div class="col-md-3">
                    {{ macros.product_box(parent) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ macros.render_cross_sell_products(
        product, relation_type="related", title=_("Related products")
    ) }}

    {{ macros.render_cross_sell_products(
        product, relation_type="recommended", title=_("We recommend these products")
    ) }}

    {{ macros.render_cross_sell_products(
        product, relation_type="computed", title=_("Users who bought this product also bought")
    ) }}

{% endblock %}

{% block extrajs %}
<script>
    // Set up owl carousel for product page's slider thumbnails.
    $(".owl-carousel.carousel-thumbnails").owlCarousel({
        margin: 10,
        nav: $(".carousel-thumbnails .thumbnail").length > 4,
        navText: [
            "<i class='fa fa-chevron-left'></i>",
            "<i class='fa fa-chevron-right'></i>"
        ],
        responsiveClass: true,
        items: 4
    });

    // Enable lightbox for products with multiple images. Uses arrows to
    // navigate through images.
    var selector_multiple = "a[data-imagelightbox='image-multiple']";
    var instance_multiple = $(selector_multiple).imageLightbox({
        "onStart": function() {
            overlayOn();
            closeButtonOn(instance_multiple);
            arrowsOn(instance_multiple, selector_multiple);
        },
        "onEnd": function() {
            overlayOff();
            closeButtonOff();
            arrowsOff();
            captionOff();
        },
        "onLoadStart": function() {
            activityIndicatorOn();
            captionOff();
        },
        "onLoadEnd": function() {
            $(".imagelightbox-arrow").css("display", "block");
            activityIndicatorOff();
            captionOn();
        }
    });

    // Enable lightbox for products with only one image.
    var selector = "a[data-imagelightbox='image']";
    var instance = $(selector).imageLightbox({
        "onStart": function() {
            overlayOn();
            closeButtonOn(instance);
        },
        "onEnd": function() {
            overlayOff();
            closeButtonOff();
            captionOff();
        },
        "onLoadStart": function() {
            activityIndicatorOn();
            captionOff();
        },
        "onLoadEnd": function() {
            $(".imagelightbox-arrow").css("display", "block");
            activityIndicatorOff();
            captionOn();
        }
    });
</script>
{% endblock %}
