{% extends "shoop/admin/base.jinja" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>About Shoop Telemetry</h2>
                <p>Shoop will occasionally send telemetry data to a Shoop.io server.</p>
                <p>
                    The data contains an unique installation key,
                    as well as the hostname of the installation (as sent by the visiting browser; currently
                    <code>{{ request.get_host() }}</code>).
                </p>
                <p>
                    No business data or other customer information is ever sent.
                    Shoop.io only uses the telemetry data for statistical purposes and for insights
                    about the software's installation base.
                </p>
                <h2>Last Telemetry</h2>
                {% if is_grace and opt_in %}
                    <div class="alert alert-info">
                        Telemetry submission is currently suspended;
                        data will only be sent 24 hours after installation if still opted in at that point.
                    </div>
                {% elif last_submission_time %}
                    Telemetry data was last submitted at {{ last_submission_time|datetime }}
                    ({{ last_submission_time|timesince }} ago).<br>
                    <a href="?last">See the data that was submitted.</a>
                {% else %}
                    Telemetry data has not yet been submitted.
                {% endif %}
            </div>
            <div class="col-md-4">
                <h2>Opt-in/opt-out</h2>
                <form action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    {% if opt_in %}
                        <div class="alert alert-success">
                            You are currently <b>opted in</b> to send telemetry data to Shoop.io.<br>
                            <b>Thank you</b> for your valuable contribution. &hearts;<br><br>
                            <button type="submit" value="out" name="opt" class="btn btn-default btn-block">Opt out</button>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            You are currently <b>opted out</b> of Shoop telemetry.<br><br>
                            <button type="submit" value="in" name="opt" class="btn btn-default btn-block">Opt in</button>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-4">
                <h2>Telemetry Data</h2>
                <p>Here is an example of the data that would be submitted right now.</p>
                <pre><code>{{ submission_data }}</code></pre>
            </div>
        </div>
    </div>
{% endblock %}
