{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block %}
{% from "shuup/customer_information/macros/buttons.jinja" import save_changes_button %}

{% block header -%}{{ edit_title }}{%- endblock %}

{% block action_buttons %}
    <div class="btn-toolbar" role="toolbar">
        <button class="btn btn-success" form="mass_edit" type="submit">
            <i class="fa fa-save"></i>&nbsp;{% trans %}Save and Exit{% endtrans %}
        </button>
    </div>
{% endblock %}

{% block content %}
{% call content_block() %}
    <h3 class="text-center">
    {% if is_all_selected %}
        {% trans%}This action effects on all items.{% endtrans %}
    {% else %}
        {% trans item_count=item_count %}This action affects {{ item_count }} item(s).{% endtrans %}
    {% endif %}
    </h3>

    <form method="post" id="mass_edit">
        {% csrf_token %}
        {% for field in form %}
            {{ bs3.field(field) }}
        {% endfor %}
    </form>
{% endcall %}
{% endblock %}
