{% extends "shuup/front/base.jinja" %}

{% block title %}{{ view.title }}{% endblock %}
{% block content_title %}{% trans %}Checkout{% endtrans %}: {{ view.title }}{% endblock %}

{% block navigation %}
    {{ render_navigation(show_quick_login=False) }}
{% endblock %}

{% block before_content_title %}
    {% block checkout_phase_bar %}
        {% if view and view.phases %}
        <ul class="nav nav-pills nav-justified">
            {% for phase in view.phases if phase.is_visible_for_user() %}
            <li {% if phase.is_current %}class="active"{% endif %}>
                <a href="{{ phase.get_url() }}">{{ loop.index }}. {{ phase.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <hr>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block checkout_phase_content %}
    {% endblock %}
{% endblock %}
