{% for service_provider, services in grouped_methods.items() %}
    <div id="id_{{ field_name }}" class="checkout-provider-wrap">
        <div class="checkout-service-provider">
            {% if service_provider.logo %}
                {% set service_provider_logo = service_provider.logo|thumbnail(size=(0,100)) %}
                <img class="image" src="{{ service_provider_logo }}" alt="{{ service_provider.safe_translation_getter("name", "") }}">
            {% else %}
                <h3>{{ service_provider.safe_translation_getter("name", "") }}</h3>
            {% endif %}
        </div>
        {% for service in services %}
        <div class="radio checkout-method-radio">
            <label for="id_{{ field_name }}_{{ service.id }}">
                <input
                    {% if current_value == service.id %}checked=checked{% endif %}
                    name="{{ field_name }}"
                    id="id_{{ field_name }}_{{ service.id }}"
                    type="radio" value="{{ service.id }}">
                {% if service.logo %}
                    <div class="logo">
                        {% set service_logo = service.logo|thumbnail(size=(0,80)) %}
                        <img src="{{ service_logo }}" alt="{{ service.safe_translation_getter("name", "") }}">
                    </div>
                {% endif %}
                <span class="label-text">
                    <span class="title">
                        <span class="name">{{ service.name }}</span>
                        {% if show_prices() and not xtheme.get("hide_prices") %}
                            <span class="price">{{ service|price(allow_cache=False) }}</span>
                        {% endif %}
                    </span>
                    <div class="description">
                        {{ service.description|safe }}
                    </div>
                </span>
            </label>
        </div>
        {% endfor %}
    </div>
{% endfor %}
