{% extends "shuup/front/checkout/_base.jinja" %}

{% block checkout_phase_content %}
    <form role="form" method="post" action="" id="methods">
        {% csrf_token %}
        {% if show_shipping %}
        {{ checkout_macros.method_phase_shipping_panel(form) }}
        {% endif %}
        {{ checkout_macros.method_phase_payment_panel(form) }}
        {{ checkout_macros.default_buttons() }}
    </form>
{% endblock %}
