{% extends "shuup/front/checkout/_base.jinja" %}
{% from "shuup/front/checkout/_buttons.jinja" import default_buttons %}

{% block checkout_phase_content %}
<form role="form" method="post" action="">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {% trans %}Choose Shipping Method{% endtrans %}
            </h2>
        </div>
        <div class="panel-body">
            {{ form.shipping_method }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {% trans %}Choose Payment Method{% endtrans %}
            </h2>
        </div>
        <div class="panel-body">
            {{ form.payment_method }}
        </div>
    </div>
    {{ default_buttons() }}
</form>
{% endblock %}
