{% extends "shuup/front/checkout/_base.jinja" %}

{% block title %}{% trans %}Shopping cart{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}Shopping cart{% endtrans %}{% endblock %}

{% block checkout_phase_content %}
    {% if basket.is_empty %}
        <div class="alert alert-danger">
            {% trans %}Your shopping cart is empty.{% endtrans %}
        </div>
    {% else %}
        {{ checkout_macros.render_basket_content(basket) }}
        {{ checkout_macros.render_cart_saver() }}
        {% if errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans %}Errors{% endtrans %}</strong></p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <hr>

        {# Ordering form #}
        {% if orderable %}
            <form role="form" method="post" action="" id="checkout_form">
                {% csrf_token %}

                {# Set some shortcuts #}
                {%- set sf = form.shipping -%}
                {%- set bf = form.billing -%}
                {%- set of = form.order -%}

                {# Render the hidden fields so we don't need to worry about them later #}
                {% for field in sf.hidden_fields() %}{{ field|safe }}{% endfor %}
                {% for field in bf.hidden_fields() %}{{ field|safe }}{% endfor %}
                {% for field in of.hidden_fields() %}{{ field|safe }}{% endfor %}

                {# Addresses #}
                <div class="row">
                    {{ checkout_macros.ship_to_billing_address_checkbox() }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ checkout_macros.address_phase_billing_well(bf) }}
                    </div>
                    <div class="col-md-6">
                        {{ checkout_macros.address_phase_shipping_well(sf, False) }}
                    </div>
                </div>

                <hr>

                {# Order for company #}
                <div class="row">
                    <div class="col-sm-12">
                        {{ checkout_macros.render_company_form_well(
                            _("Ordering for a company?"),
                            _("Please fill out these fields if you are ordering for a company."),
                            of.company_name, of.tax_number) }}
                    </div>
                </div>

                <hr>

                {{ checkout_macros.render_confirm_form_single_page(of) }}
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    {{ checkout_macros.address_phase_extrajs() }}
{% endblock %}
