#main-menu {
    background: @nav-bg-hover;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 310px;
    transition: transform 0.3s;
    transform: translate3d(-310px,0,0);
    z-index: 1000;

    body.menu-open & {
        transform: translate3d(0,0,0);
    }

    ul.menu-list {
        padding: 0px 0px 25px 0px;
        margin: 0;

        li {
            position: relative;
            list-style: none;
            border-bottom: 1px solid lighten(@nav-bg-hover, 5%);
            transition: all 0.2s;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: @brand-primary;
                display: block;
                content: "";
                transition: width 0.2s;
            }

            &:last-child {
                border: 0;
            }

            &.open {
                background: darken(@nav-bg-hover, 4%);
                &:before { width: 5px; }
                ul {
                    display: block;
                }
                a {
                    .menu-toggle-icon:before { content: "-"; }
                }
            }
        }

        li a {
            .clearfix;
            color: #fff;
            display: block;
            width: 100%;
            padding: 15px;
            text-decoration: none;
            transition: all 0.3s;
            font-size: 1.6rem;

            &:hover {
                background: darken(@nav-bg-hover, 4%);
                text-decoration: none;
                i { color: @brand-primary; }
            }

            i {
                font-size: 1.8rem;
                margin-right: 9px;
                width: 3rem;
                text-align: center;
                float: left;
            }

            .item-name {
                float: left;
                max-width: 240px;
                display: block;
                &.parent {
                    max-width: 210px;
                }
            }

            .menu-toggle-icon {
                float: right;
                font-size: 2.4rem;
                line-height: 24px;
                margin-right: 6px;
                &:before {
                    content: "+";
                }
            }
        }

        li ul {
            display: none;
            padding-left: 4rem;
            li { border: 0; }
            a {
                padding: 10px 15px;
                font-size: 1.4rem;
                &:hover {
                    background: transparent;
                    text-decoration: underline;
                    i { color: #fff; }
                }
                i {
                    font-size: 14px;
                    width: 20px;
                }
            }
        }
    }
}
