{% extends "shuup/front/dashboard/dashboard.jinja" %}
{% from "shuup/personal_order_history/macros/buttons.jinja" import render_action_buttons with context %}
{% from "shuup/personal_order_history/macros/order_detail.jinja" import basic_info, shipping_address, billing_address, order_contents, sent_shipments, order_status_history with context %}

{% block title %}{% trans identifier = order.identifier %}Order {{ identifier }}{% endtrans %}{% endblock %}
{% set main_title = _("Details of order %(identifier)s", identifier=order.identifier) %}
{% block content_title %}{{ main_title }}{% endblock %}

{% block breadcrumb %}
    {% call macros.breadcrumb() %}
        {{ macros.render_breadcrumb_item("/", _("Home")) }}
        {{ macros.render_breadcrumb_item(url("shuup:dashboard"), _("Dashboard")) }}
        {{ macros.render_breadcrumb_item(url("shuup:personal-orders"), _("Order History")) }}
        {{ macros.render_breadcrumb_item(None, main_title, True) }}
    {% endcall %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-sm-12">
            {{ render_action_buttons(order) }}
        </div>
        <div class="col-sm-12">
            <h2>{% trans identifier = order.identifier %}Order {{ identifier }}{% endtrans %}</h2>
        </div>
    </div>
    <div class="row order-dashboard-container">
        <div class="col-sm-12">
            {{ basic_info() }}
        </div>
        {% if order.shipping_address_id and order.billing_address_id %}
            <div class="col-sm-6">
                {{ shipping_address() }}
            </div>
            <div class="col-sm-6">
                {{ billing_address() }}
            </div>
        {% elif order.shipping_address_id %}
            <div class="col-sm-12">
                {{ shipping_address() }}
            </div>
        {% elif order.billing_address_id %}
            <div class="col-sm-12">
                {{ billing_address() }}
            </div>
        {% endif %}
        {% set _sent_shipments = order.get_sent_shipments() %}
        {% if _sent_shipments.exists() %}
            <div class="col-sm-12">
                {{ sent_shipments(_sent_shipments) }}
            </div>
        {% endif %}
        <div class="col-sm-12">
            {{ order_contents() }}
        </div>
        {% if order.order_history.exists() %}
        <div class="col-sm-12">
            {{ order_status_history(order.order_history.filter(next_order_status__visible_for_customer=True)) }}
        </div>
        {% endif %}
        <div class="col-sm-12">
            {{ order_macros.render_ordered_files(order) }}
        </div>
    </div>
{% endblock %}
