{% extends "shoop/front/base.jinja" %}

{% block title %}{{ category.name }}{% endblock %}
{% block content_title %}{{ category.name }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        {% for c in category.get_ancestors() if c.is_visible(customer=request.customer) %}
            <li><a href="{{ c.get_absolute_url() }}">{{ c.name }}</a></li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <form role="form" class="form-inline" method="get" action="" id="sorter">
        <div class="form-group">
            <label for="sort">{% trans %}Sort by{% endtrans %}:</label>
            {{ form.sort|safe }}
        </div>
    </form>
    <hr>
    <div class="row">
        {% for product in products if shoop.product.is_visible(product) %}
            <div class="col-sm-4 col-md-3">
                {{ macros.product_box(product, show_description=True, class="product-card box") }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(function() {
            $("#sorter :input").change(function() {
                $("#sorter").submit();
            });
        });
    </script>
{% endblock %}
