{% extends "shoop/front/checkout/_base.jinja" %}

{% block content %}
<form role="form" method="post" action="">
    {% csrf_token %}
    {{ bs3.field(form.will_pay) }}

    <div class="clearfix">
        <button type="submit" class="btn btn-primary btn-lg pull-right">
            <i class="fa fa-check"></i>Continue
        </button>
    </div>
</form>
{% endblock %}
