{% from "shuup/admin/macros/general.jinja" import content_block %}
{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}
{% set base_form = form["base"] %}

{% call content_block(("General Information"), icon="fa-info-circle") %}
    {{ language_dependent_content_tabs(base_form) }}
    {{ render_monolingual_fields(base_form, exclude=[
        "available_from", "available_to", "visible_in_menu", "identifier",
        "parent", "list_children_on_page", "show_child_timestamps", "template_name", "render_title", "available_permission_groups"]) }}
{% endcall %}

{% call content_block(("Availability"), "fa-clock-o") %}
    {{ render_monolingual_fields(base_form, exclude=[
        "identifier", "parent", "list_children_on_page", "show_child_timestamps", "template_name"]) }}
{% endcall %}

{% call content_block(("Extras"), "fa-plus-circle") %}
    {{ render_monolingual_fields(base_form, exclude=[
        "available_from", "available_to", "visible_in_menu", "render_title", "available_permission_groups"]) }}
{% endcall %}
