{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block, content_with_sidebar %}
{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}

{% block title %}{{ page.title or _("New Page") }}{% endblock %}

{% block body_class %}shuup-details{% endblock %}
{% block content %}
    {% call content_with_sidebar(content_id="page_form") %}
        <form method="post" id="page_form">
            {% csrf_token %}
            {% for form_def in form.form_defs.values() %}
                {% include form_def.template_name with context %}
            {% endfor %}
        </form>
    {% endcall %}
{% endblock %}
