$bs-path: "~bootstrap/scss";
$fa-path: "~font-awesome/less";
$select2-path: "~select2";
$scroll-path: "~jquery.scrollbar";
$imagelightbox-path: "~imagelightbox/dist";
$dropzone-path: "~dropzone/dist";
$summernote-path: "~summernote/dist";
