$bs-path: "~bootstrap/scss";
$fa-path: "~font-awesome/less";
$select2-path: "~select2-bootstrap-css/lib";
$scroll-path: "~jquery.scrollbar";
// $datetimepicker-path: "../../vendor/bower_components/smalot-bootstrap-datetimepicker/less";
$shepherd-path: "~tether-shepherd/dist/css";
$imagelightbox-path: "~imagelightbox/dist";
$dropzone-path: "~dropzone/dist";
$summernote-path: "~summernote/dist";
