// Brand colors
$primary: #35A48C;
$success: #27ae60;
$warning: #e67e22;
$danger: #e74c3c;
$info: #228FB7;

// Success colors
$state-success-text: $success;
$state-success-bg: $success;
$state-success-border: $success;
$alert-success-text: #fff;

// Info colors
$state-info-text: $info;
$state-info-bg: $info;
$state-info-border: $info;
$alert-info-text: #fff;

// Warning colors
$state-warning-text: $warning;
$state-warning-bg: $warning;
$state-warning-border: $warning;
$alert-warning-text: #fff;

// Danger colors
$state-danger-text: $danger;
$state-danger-bg: $danger;
$state-danger-border: $danger;
$alert-danger-text: #fff;

// Heading font sizes
$font-size-h1: 2.5rem;
$font-size-h2: 2.1rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.3rem;
$font-size-h6: $font-size-h5;

$text-color: #555;
$active-text-color: #fff;
$gray-bg: #f4f4f4;
$border-color: #ddd;
$gray: $text-color;
$gray-light: #888;
$gray-lighter: #aaa;

// Block colors
$block-light-blue: rgba(66, 154, 175, 0.5);
$block-blue: #429AAF;
$block-red: #C54141;
$block-orange: #D16B2C;
$block-gray: #555555;
$block-purple: #7F5C99;
$block-green: #94B933;
$block-yellow: #CFBE00;
$block-navy: #41589B;

$headings-font-weight: 300;

$icon-folder-color: #E1AE46;

$nav-bg: #444;
$nav-bg-hover: #333;

// -- Pagination
$pagination-bg: $nav-bg;
$pagination-color: #fff;
$pagination-border: #000;

$pagination-disabled-color: $pagination-color;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border: $pagination-border;

$pagination-hover-border: $pagination-border;
$pagination-hover-bg: $nav-bg-hover;
$pagination-hover-color: #fff;

$pagination-active-border: $pagination-border;
$pagination-active-bg: $nav-bg-hover;
$pagination-active-color: $pagination-hover-color;

$border-radius-base: 0;

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

$xs: strip-unit(map-get($grid-breakpoints, "xs"));
$sm: strip-unit(map-get($grid-breakpoints, "sm"));
$md: strip-unit(map-get($grid-breakpoints, "md"));
$lg: strip-unit(map-get($grid-breakpoints, "lg"));
$xl: strip-unit(map-get($grid-breakpoints, "xl"));

@mixin rotate($angle) {
    transform: rotate($angle)
}

@mixin transition($args) {
    transition: $args ease-in-out;
}
