<div class="color-block block-red">
    <div class="block-header">
        <div class="text-wrap">
            <span>{% trans %}FAQ{% endtrans %}</span>
        </div>
    </div>
    <div class="block-content">
        <ul class="list-unstyled">
            {% for faq in faqs %}
                <li>
                    {{ loop.index }}.
                    <a target="_blank" href="https://www.shuup.com/{{ LANGUAGE_CODE }}/faq/#question-{{ faq["pk"] }}">{{ faq["question"] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
