<div class="color-block block-purple">
    <div class="block-header">
        <div class="text-wrap">
            <span>{% trans %}Support{% endtrans %}</span>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-sm-6">
                <strong>{% trans %}Community Links{% endtrans %}</strong>
                <ul class="list-unstyled">
                    <li><a href="https://community.shuup.com/forums/">{% trans %}Community Forums{% endtrans %}</a></li>
                    <li><a href="https://shuup.com/en/news">{% trans %}News &amp; Updates{% endtrans %}</a></li>
                    <li><a href="https://www.shuup.com/en/blog">{% trans %}Shuup Blog{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <strong>{% trans %}Contact Us{% endtrans %}</strong>
                <ul class="list-unstyled">
                    <li>By phone: <br><a href="tel:18889026337">1-888-902-6337</a></li>
                    <li>By email: <br><a href="mailto:hello@shuup.com">hello@shuup.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
