<div class="color-block block-purple">
    <div class="block-header">
        <div class="text-wrap">
            <span>{% trans %}Support{% endtrans %}</span>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-sm-6">
                <strong>{% trans %}Community Links{% endtrans %}</strong>
                <ul class="list-unstyled">
                    <li><a href="https://www.shuup.com/multi-vendor/#_Forum">{% trans %}Community Forums{% endtrans %}</a></li>
                    <li><a href="https://www.shuup.com/blog/">{% trans %}Shuup Blog{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <strong>{% trans %}Contact Us{% endtrans %}</strong>
                <ul class="list-unstyled">
                    <li>By phone: <br><a href="tel:18889026337">1-949-607-8350</a></li>
                    <li>By email: <br><a href="mailto:support@shuup.com">support@shuup.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
