<section class="categories-links-plugin">
    {% if categories %}
        {% if title %}<h2>{{ title }}</h2>{% endif %}
        <ul>
        {% for category in categories %}
            <li>
                <a href="{{ url("shuup:category", pk=category.pk, slug=category.slug) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</section>
