{%- from "shuup/front/macros/product.jinja" import product_box with context -%}
{%- set cross_sell_products = shuup.product.get_product_cross_sells(product, type, count=count, orderable_only=orderable_only) %}
{% if cross_sell_products %}
    <hr>
    {% if title %}<h3>{{ title }}</h3>{% endif %}
    <div class="row product-list">
        {% for product in cross_sell_products %}
            <div class="col-sm-4 col-md-3 single-product">
                {{ product_box(product) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
