<div class="form" data-url="{{ url("shoop_admin:simple_supplier.stocks", supplier_id=supplier.id, product_id=product.id) }}">
    {% csrf_token %}
    {% for field in form %}
        {{ bs3.field(field, form_group_class=False ) }}
    {% endfor %}
    <br>
    <button class="btn btn-primary btn-block" onclick="adjustStock($(this))">
        <i class="fa fa-arrow-circle-up"></i> {% trans %}Add stock{% endtrans %}
    </button>
</div>
