{% extends "shuup/order_printouts/admin/order_base.jinja" %}
{% block information %}
    {{ macros.shipment_information_table(order, shipment, extra_fields) }}
{% endblock %}
{% block content %}
    <br>
    <h3>{% trans %}Shipped products{% endtrans %}</h3>
    {{ macros.shipped_products_table(order, shipment) }}
    <br>
    {% if method_lines %}
        <h3>{% trans %}Payment and shipping methods{% endtrans %}</h3>
        {{ macros.order_lines_table(order, method_lines, show_totals=False, show_sku=False) }}
    {% endif %}
{% endblock %}
