<table class="table table-condensed">
    <thead>
        <tr>
            <th class="text-right">{% trans %}Tax{% endtrans %}</th>
            <th class="text-right">{% trans %}Tax percentage{% endtrans %}</th>
            <th class="text-right">{% trans %}Based on amount{% endtrans %}</th>
            <th class="text-right">{% trans %}Amount of tax{% endtrans %}</th>
            <th class="text-right">{% trans %}Total including tax{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% set tax_summary = order.get_tax_summary() %}
        {% if tax_summary %}
            {% for item in tax_summary %}
                <tr>
                    <td class="text-right">{{ item.tax_name }}</td>
                    <td class="text-right">
                        {%- if item.tax_rate is not none -%}
                            {{ item.tax_rate|percent(ndigits=3) }}
                        {%- endif -%}
                    </td>
                    <td class="text-right">{{ item.based_on|money }}</td>
                    <td class="text-right">{{ item.tax_amount|money }}</td>
                    <td class="text-right">{{ item.taxful|money }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
