{% extends "shoop/admin/base.jinja" %}
{% import "shoop/admin/macros/general.jinja" as gm with context %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}

{% block content %}
    {% call gm.multi_section_single_form("shop_form") %}
        {% call gm.form_section(_("General Information")) %}
            {{ language_dependent_content_tabs(form, exclude=["maintenance_message"]) }}
            <div class="form-divider"></div>
            {{ render_monolingual_fields(form, exclude=["maintenance_mode", "logo"]) }}
        {% endcall %}
        {% call gm.form_section(_("Shop Logo"), icon="fa-image") %}
            {{ render_monolingual_fields(form, field_names=["logo"]) }}
        {% endcall %}
        {% call gm.form_section(_("Maintenance Mode"), icon="fa-cogs") %}
            {{ render_monolingual_fields(form, field_names=["maintenance_mode"]) }}
            {{ language_dependent_content_tabs(form, field_names=["maintenance_message"], tab_id_prefix="maint") }}
        {% endcall %}
    {% endcall %}
{% endblock %}
