{% extends "shuup/front/base.jinja" %}

{% block title %}{% trans %}Shopping cart{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Shopping cart{% endtrans %}{% endblock %}

{% block content %}
    {% if basket.is_empty %}
        <p class="lead"><i class="fa fa-exclamation-circle text-danger"></i> {% trans %}Your shopping cart is empty.{% endtrans %}</p>
        <hr>
        <div class="cart-actions">
            <a href="/xtheme/products" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> {% trans %}Back to Products{% endtrans %}</a>
        </div>
    {% else %}
        {% if errors %}
            <p class="text-danger">{% trans %}There were errors on following items{% endtrans %}:</p>
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
            <hr>
        {% endif %}
        {% placeholder "cart_top_extra" %}{% endplaceholder %}
        {% include "shuup/front/basket/partials/_basket_content.jinja" %}
        <div class="cart-actions">
            {% if errors %}
                <p class="lead text-right"><i class="fa fa-exclamation-triangle text-danger"></i> {% trans %}You are unable to proceed to checkout!{% endtrans %}</p>
            {% else %}
                <a href="/xtheme/products" class="text-muted btn continue-shopping hidden-xs"><i class="fa fa-angle-double-left"></i> {% trans %}Continue Shopping{% endtrans %}</a>
                <a href="{{ url("shuup:checkout") }}" class="btn btn-primary pull-right btn-checkout">
                    <i class="fa fa-lock"></i> {% trans %}Proceed to checkout{% endtrans %} <i class="fa fa-angle-double-right"></i>
                </a>
            {% endif %}
        </div>
        {% if user.is_authenticated() and shuup.urls.has_url("shuup:saved_cart.save") %}
        <div class="cart-saver row">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="clearfix">
                    <a class="btn btn-primary cart-saver-toggle pull-right btn-save-cart" href="#collapseSaveCart" data-toggle="collapse">{% trans %}Save cart{% endtrans %}</a>
                </div>
                <div class="collapse" id="collapseSaveCart">
                    <div class="input-group input-save-cart">
                        <input type="text" id="cart-title" class="form-control" name="title" placeholder="{% trans %}Cart Title{% endtrans %}">
                        <span class="input-group-btn">
                            <button id="save-cart" type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                        </span>
                    </div>
                    <div id="save-cart-status" class="pull-right"></div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% placeholder "cart_bottom_extra" %}{% endplaceholder %}
{% endblock %}

{% block extrajs %}
{# TODO: Someone maybe can figure out a better way to achieve this without a separate button #}
<script type="text/javascript">
    $(function() {
        $("#update_basket_form .quantity :input").change(function() {
            $("#update_basket_form").submit();
        });

        $("#submit-code").click(function(e){
            e.preventDefault();
            const coupon = $("#discount-code").val();

            if (coupon.length) {
                // ajax request to command
                const data = {
                    "command": "add_campaign_code",
                    "code": coupon
                };

                $.ajax({
                    url: "",
                    method: "POST",
                    data: data,
                    success: function(response) {
                        if (response.ok) {
                            location.reload();
                        }
                        else {
                            alert("{% trans %}Coupon is not available.{% endtrans %}")
                        }
                    },
                    error: function() {
                        alert("{% trans %}Error when adding coupon.{% endtrans %}")
                    }
                });
            }
        });

        {% if shuup.urls.has_url("shuup:saved_cart.save") %}
        $("#save-cart").click(function(e){
            e.preventDefault();
            const title = $("#cart-title").val();
            $("#save-cart-status").empty();
            $.ajax({
                url: "{{ url('shuup:saved_cart.save') }}",
                method: "POST",
                data: {
                    title: title,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    $("#save-cart-status").append("<p>" + gettext("Cart saved!") + "</p>");
                },
                error: function(e) {
                    $("#save-cart-status").append("<p>" + e.responseJSON.error + "</p>");
                }
            });
        });
        {% endif %}

        singleSubmitForm($("#update_basket_form"));
    });
</script>
{% endblock %}
