{% from "shuup/admin/macros/general.jinja" import content_block %}
{% set address_form = form["address"] %}

{% call content_block(_("Contact Address"), "fa-map-marker") %}
    {{ bs3.field(address_form["name"]) }}
    {{ bs3.field(address_form["prefix"]) }}
    {{ bs3.field(address_form["suffix"]) }}
    {{ bs3.field(address_form["email"]) }}
    {{ bs3.field(address_form["phone"]) }}
    {{ bs3.field(address_form["tax_number"]) }}
    {{ bs3.field(address_form["street"]) }}
    {{ bs3.field(address_form["street2"]) }}
    {{ bs3.field(address_form["street3"]) }}
    {{ bs3.field(address_form["postal_code"]) }}
    {{ bs3.field(address_form["city"]) }}
    {{ bs3.field(address_form["region_code"]) }}
    {{ bs3.field(address_form["region"]) }}
    {{ bs3.field(address_form["country"]) }}
    {{ bs3.field(address_form["latitude"]) }}
    {{ bs3.field(address_form["longitude"]) }}
{% endcall %}
