{% macro auth_block(extra_classes="") %}
    <div class="auth-block {{ extra_classes }}">
        <div class="auth-block-content">
            <div class="auth-block-logo">
                <img src="{{ static("shuup_admin/img/logo_with_text.svg") }}" alt="Shuup">
            </div>
            <div class="auth-block-body">{{ caller() }}</div>
        </div>
    </div>
{% endmacro %}

{% macro content_with_sidebar(content_id="", extra_classes="") %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 section-navigation" data-navigatee="{{ content_id }}"></div>
            <div class="col-md-9 {{ extra_classes }}">
                {{ caller() }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro content_block(heading, icon, extra_classes="", id="", collapsed=False) %}
    <div id="{{ id }}" class="content-block {% if collapsed %}collapsed{% endif %}">
        <div class="title">
            {% if heading %}
                <h2 class="block-title">{% if icon %} <i class="fa {{ icon }}"></i> {% endif %}{{ heading }}</h2>
            {% endif %}
            <a href="#" class="toggle-contents">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        <div class="content-wrap collapse {{ extra_classes }}">
            <div class="content">
                {{ caller() }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro text_between_fields() %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-4 col-lg-6 col-lg-push-3">
            {{ caller() }}
            <br>
        </div>
    </div>
{% endmacro %}

{% macro info_row(header, value, url=None, class="") %}
    {% if value is defined and value is not none and value != "" %}
        <dt>{{ header }}</dt>
        <dd{% if class %} class="{{ class }}"{% endif %}>
            {%- if url %}<a href="{{ url }}">{% endif -%}
            {{ value }}
            {%- if url %}</a>{% endif -%}
        </dd>
        {% if caller %}
            <dd>{{ caller() }}</dd>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro form_section(title, icon="fa-info-circle") %}
    {% set ss_caller = caller %}
    {% call content_block(title, icon=icon) %}
        {{ ss_caller() }}
    {% endcall %}
{% endmacro %}

{% macro multi_section_single_form(form_id) %}
<form method="post" id="{{ form_id }}">{% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 section-navigation" data-navigatee="{{ form_id }}"></div>
            <div class="col-md-9">
                {{ caller() }}
            </div>
        </div>
    </div>
</form>
{% endmacro %}

{% macro single_section_form(form_id, form, section_title="") %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 section-navigation" data-navigatee="{{ form_id }}"></div>
            <div class="col-md-9">
                <form method="post" id="{{ form_id }}" novalidate>
                    {% csrf_token %}
                    {% set ss_caller = caller %}
                    {% call content_block(section_title or _("General Information"), "fa-info-circle") %}
                        {% if ss_caller %}
                            {{ ss_caller() }}
                        {% else %}
                            {% for field in form %}
                                {{ bs3.field(field) }}
                            {% endfor %}
                        {% endif %}
                    {% endcall %}
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{%- macro render_objects(objs) -%}
    {%- for obj in objs -%}
        {{- render_object(obj) -}}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro render_object(obj) -%}
    {% set url = shuup_admin.model_url(obj) %}
    {% if url %}<a href="{{ url }}">{% endif %}
        {{- obj -}}
    {% if url %}</a>{% endif %}
{%- endmacro -%}
