{% extends "shuup/admin/base.jinja" %}

{% block content %}
    <div class="container-fluid" id="menu-configuration">
        <div class="row">
            <div class="col-12">
                <h1>{% trans %}Menu Configuration{% endtrans %}</h1>
                <div class="btn-toolbar">
                    <a href="#" class="btn btn-default btn-success" id="menu-configuration-save">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="content-block">
                    <div class="d-none d-md-block d-lg-block d-xl-block">

                        <div class="sortable">
                            <div class="card" data-name="orders" data-visible-in-menu="true">
                                <div class="card-body">
                                    <div class="header">
                                        <div>
                                            <i class="fa fa-reorder"></i>
                                            <i class="fa fa-inbox category-icon"></i>
                                            <h3 class="card-title">Orders</h3>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="bn btn-primary action-btn btn-show" data-toggle="collapse" data-target="#menu-configuration-order">
                                                <span>
                                                    <span class="label d-none d-xl-inline-block">Display Menu Children</span>
                                                </span>
                                            </button>
                                            <button type="button" class="bn btn-primary action-btn btn-show">
                                                <span>
                                                    <i class="fa fa-eye"></i>
                                                    <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <h5 class="card-subtitle mb-2 text-muted">Orders Category</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    
                                    <div class="sortable collapse" id="menu-configuration-order">
                                        <div class="card" data-name="orders-orders" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Orders</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card" data-name="orders-carts" data-visible-in-menu="true">
                                            <div class="card-body">
                                            <div class="header">
                                                <div>
                                                    <i class="fa fa-reorder"></i>
                                                    <h3 class="card-title">Carts</h3>
                                                </div>
                                                <div class="actions">
                                                    <button type="button" class="bn btn-primary action-btn btn-show">
                                                        <i class="fa fa-eye"></i>
                                                        <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                    </button>
                                                </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card" data-name="products" data-visible-in-menu="true">
                                <div class="card-body">
                                    <div class="header">
                                        <div>
                                            <i class="fa fa-reorder"></i>
                                            <i class="fa fa-cube category-icon"></i>
                                            <h3 class="card-title">Products</h3>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="bn btn-primary action-btn btn-show" data-toggle="collapse" data-target="#menu-configuration-product">
                                                <span>
                                                    <span class="label d-none d-xl-inline-block">Display Menu Children</span>
                                                </span>
                                            </button>
                                            <button type="button" class="bn btn-primary action-btn btn-show">
                                                <i class="fa fa-eye"></i>
                                                <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                            </button>
                                        </div>
                                    </div>
                                    <h5 class="card-subtitle mb-2 text-muted">Products Category</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                    <div class="sortable collapse" id="menu-configuration-product">
                                        <div class="card" data-name="products-products" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Products</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card" data-name="products-categories" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Categories</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card" data-name="contacts" data-visible-in-menu="true">
                                <div class="card-body">
                                    <div class="header">
                                        <div>
                                            <i class="fa fa-reorder"></i>
                                            <i class="fa fa-users category-icon"></i>
                                            <h3 class="card-title">Contacts</h3>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="bn btn-primary action-btn btn-show" data-toggle="collapse" data-target="#menu-configuration-contact">
                                                <span>
                                                    <span class="label d-none d-xl-inline-block">Display Menu Children</span>
                                                </span>
                                            </button>
                                            <button type="button" class="bn btn-primary action-btn btn-show">
                                                <i class="fa fa-eye"></i>
                                                <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                            </button>
                                        </div>
                                    </div>
                                    <h5 class="card-subtitle mb-2 text-muted">Contacts Category</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                    <div class="sortable collapse" id="menu-configuration-contact">
                                        <div class="card" data-name="contacts-contacts" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Contacts</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card" data-name="contacts-contact-groups" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Contact Groups</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card" data-name="contacts-contact-group-pricing-display" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Contact Group Pricing Display</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card" data-name="contacts-tasks" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Tasks</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                        <div class="card" data-name="contacts-task-types" data-visible-in-menu="true">
                                            <div class="card-body">
                                                <div class="header">
                                                    <div>
                                                        <i class="fa fa-reorder"></i>
                                                        <h3 class="card-title">Task Types</h3>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="bn btn-primary action-btn btn-show">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="label d-none d-xl-inline-block">Show in Menu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}