{% extends "shuup/admin/base.jinja" %}

{% from "shuup/admin/macros/block.jinja" import link_block %}

{% set categories = shuup_admin.get_menu_entry_categories() %}
{# {% set quicklinks = shuup_admin.get_quicklinks() %} #}


{% block content %}    
    <div class="container-fluid" id="menu-configuration">

        <div class="row">
            <div class="col-12">
                <h1>{% trans %}Menu Configuration{% endtrans %}</h1>
                <div class="btn-toolbar">
                    <a href="#" class="btn btn-default btn-success" id="menu-configuration-save">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </a>
                </div>
            </div>

            <div class="col-12">
                <div class="content-block">
                    <div class="d-none d-md-block d-lg-block d-xl-block">

                        <div class="sortable">
                            {% for category in categories %}
                                {% set only_entry = (category.entries|first if category.entries|length == 1 else None) %}
                                <div class="card" data-name="{{category.name}}_category" data-visible-in-menu="true">
                                    <div class="card-body">
                                        <div class="header">
                                            <div>
                                                <i class="fa fa-reorder"></i>
                                                <i class="fa fa-inbox category-icon"></i>
                                                <h3 class="card-title">{{ category.name }}</h3>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-primary active menu-visible">
                                                        <input type="radio" autocomplete="off" checked> 
                                                        <i class="fa fa-eye"></i>
                                                        Visible
                                                    </label>
                                                    <label class="btn btn-primary menu-hidden">
                                                        <input type="radio" autocomplete="off"> 
                                                        <i class="fa fa-eye-slash"></i>
                                                        Hidden
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-subtitle mb-2 text-muted">{{ category.name }} Category</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        {% if not only_entry %}
                                            <button type="button" class="bn btn-primary action-btn btn-show display-children" data-toggle="collapse" data-target="#menu-configuration-{{category.name}}">
                                                <span>
                                                    <i class="fa fa-caret-right"></i>                                            
                                                    <span class="label d-none d-xl-inline-block">Display Menu Children</span>
                                                </span>
                                            </button>
                                        {% endif %}

                                        <div class="sortable collapse" id="menu-configuration-{{category.name}}">
                                            {% for child in category.children %}
                                                {% for entry in child %}                                                
                                                    <div class="card" data-name="{{entry.text}}" data-visible-in-menu="true">
                                                        <div class="card-body">
                                                            <div class="header">
                                                                <div>
                                                                    <i class="fa fa-reorder"></i>
                                                                    <h3 class="card-title">{{ entry.text }}</h3>
                                                                </div>
                                                                <div class="actions">
                                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                        <label class="btn btn-primary active menu-visible">
                                                                            <input type="radio" autocomplete="off" checked> 
                                                                            <i class="fa fa-eye"></i>
                                                                            Visible
                                                                        </label>
                                                                        <label class="btn btn-primary menu-hidden">
                                                                            <input type="radio" autocomplete="off"> 
                                                                            <i class="fa fa-eye-slash"></i>
                                                                            Hidden
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% if not only_entry %}
                                                {% for entry in category %}                                                
                                                    <div class="card" data-name="{{entry.text}}" data-visible-in-menu="true">
                                                        <div class="card-body">
                                                            <div class="header">
                                                                <div>
                                                                    <i class="fa fa-reorder"></i>
                                                                    <h3 class="card-title">{{ entry.text }}</h3>
                                                                </div>
                                                                <div class="actions">
                                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                        <label class="btn btn-primary active menu-visible">
                                                                            <input type="radio" autocomplete="off" checked> 
                                                                            <i class="fa fa-eye"></i>
                                                                            Visible
                                                                        </label>
                                                                        <label class="btn btn-primary menu-hidden">
                                                                            <input type="radio" autocomplete="off"> 
                                                                            <i class="fa fa-eye-slash"></i>
                                                                            Hidden
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            {% endfor%}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}