{% extends "shuup/admin/base.jinja" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>{% trans %}Menu Configuration{% endtrans %}</h1>
            </div>
            <div class="col-12">
                <div class="content-block">
                    <div class="d-none d-md-block d-lg-block d-xl-block">
                    
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-reorder"></i>
                                <h5 class="card-title">Orders</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-reorder"></i>
                                <h5 class="card-title">Products</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}