{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block, content_with_sidebar %}
{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}

{% block content %}
    {% call content_with_sidebar(content_id="contact_group_form") %}
        <form method="post" id="contact_group_form" novalidate>
            {% csrf_token %}
            {% for form_def in form.form_defs.values() %}
                {% include form_def.template_name %}
            {% endfor %}
        </form>
    {% endcall %}
{% endblock %}

{% block extra_js %}
    {{ super() }}
    <script src="{{ static("shuup_admin/js/contact-group.js") }}"></script>
{% endblock %}
