.auth-block {
    margin: 40px 0px;

    &-logo {
        text-align: center;
        
        img {
            max-width: 270px;
            width: 100%;
        }
    }

    &-content {
        padding: 30px;
        background: #fff;
        box-shadow: 0px -3px 2px 0px rgba(0, 0, 0, 0.1),
                    0px 3px 2px 0px rgba(0, 0, 0, 0.1);
    }

    &-body {
        padding-top: 30px;

        .field-error-text {
            margin-bottom: 20px;
        }

        .actions {
            border-top: 1px solid $border-color;
            margin-top: 30px;
            padding-top: 30px;
        }
    }
}
