* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    background: $gray-bg;
    color: $text-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 60px;
    min-height: 100%;

    &.popup {
        padding-top: 0;
    }

    &.auth {
        background: #333;

        @include media-breakpoint-down(sm) {
            padding-top: 0;
        }
    }

    &.shuup-modal-open {
        overflow: hidden;
    }

    &.menu-open {
        @include media-breakpoint-down(sm) {
            overflow: hidden;
        }
    }
}

*::selection {
    background: rgba(0,0,0,0.5);
    color: #fff;
}

// Set header sizes on mobile screens
@include media-breakpoint-down(sm) {
    // Font sizes are about 85% of original sizes
    h1 { font-size: 2.6rem; }
    h2 { font-size: 2.1rem; }
    h3 { font-size: 1.8rem; }
    h4 { font-size: 1.5rem; }
}

img {
    max-width: 100%;
    height: auto;
}

.container, .container-fluid {
    min-width: 320px;
}

#main-content {
    margin-top: 0 !important;
    padding-top: 15px;
    margin-left: $main-menu-width;
    padding: 1.2em;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
        margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
        margin-top: 0 !important;
    }

    body.popup & {
        padding: 5px;
    }
}

#dashboard-wrapper {
    position: relative;
}

table {
    font-weight: normal;
}

.separator-line {
    margin: 30px 0px;
    &.dark {
        border-color: $border-color;
    }
}

.form-control {
    box-shadow: none;
}

.pagination {
    margin-bottom: 0,
}

canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto !important;
    width: auto !important;
}

.tooltip {
    @include media-breakpoint-down(xs) {
        display: none !important;
    }
}

.table-shuup {
    > thead {
        color: #fff;
        > tr > th {
            border-bottom: 0;
            background: $primary;
            padding: 8px;
            border: 0;
            border-right: 1px solid rgba(255,255,255,0.5);

            &:last-child { border: 0; }
        }
    }
}

.mobile-list-group {
    font-size: 1.3rem;
}

.browse-widget {
    .browse-text {
        margin-right: 10px;
    }
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.section-description {
    font-size: 1.7rem;
}

.hidden {
    display: none;
}
