@mixin btn-active-state($color, $darken) {
    @include box-shadow(inset 0 4px 5px darken($color, $darken));
    border-top-color: darken($color, $darken);
    border-left-color: darken($color, $darken);
    border-right-color: darken($color, $darken);
}

@mixin btn-hover-state($color, $darken) {
    border-color: darken($color, $darken);
    background: darken($color, $darken);
}

@mixin btn-override-mixin($color, $hover-darken, $active-darken, $dropdown-darken) {
    border-color: $color;
    background-color: $color;

    &:hover, &:focus {
        @include btn-hover-state($color, $hover-darken);
        color: #fff;
    }

    &:active {
        @include btn-active-state($color, $active-darken);
    }

    &.disabled, &[disabled] {
        border-color: $color;
        background-color: $color;
    }

    &.btn-inverse {
        border-color: $color;
        background: transparent;
        color: $color;
        &:hover, &:focus {
            color: #fff;
            background: $color;
        }
        &:active {
            @include btn-active-state($color, $active-darken);
        }
    }

    .btn + .dropdown-toggle {
        border-left-color: darken($color, $dropdown-darken);

        &:active {
            @include btn-active-state($color, $dropdown-darken);
        }
    }

    .open > .dropdown-toggle {
        background: darken($color, $dropdown-darken);
        border-color: darken($color, $dropdown-darken);
    }

    .open > .btn + .dropdown-toggle {
        background: darken($color, $dropdown-darken);
        border-color: transparent;
        border-left-color: darken($color, $dropdown-darken);
    }
}


// Overwrite some of the bootstraps default button styles
.btn {
    background: none;
    padding: 7px 15px;
    outline: 0 !important;
    font-size: 0.9rem;
    border-radius: 4px;
    @include transition(all 0.2s);

    &-xs {
        font-size: 0.8rem;
        padding: 2px 8px;
        line-height: 1.5;
    }

    &-sm {
        font-size: 0.8rem;
        padding: 6px 12px;
        line-height: 1.5;
    }

    &-lg {
        padding: 10px 20px;
        font-size: 1.15rem;
        line-height: 1.33333;
    }

    &:focus,
    .btn.focus {
        box-shadow: 0 0 0 0.1em var(--primary-lighter);
    }

    &.btn-red {
        background-color: $block-red;
        color: $white;
    }

    &.btn-cancel {
        border-color: $state-danger-border !important;
        color: $state-danger-border !important;
        background-color: $white !important;
    }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 0.45;
}

.btn-default {
    border-color: $border-color;
    background-color: $white;
    color: var(--text-color);
    box-shadow: $shadow-md;

    &:hover {
        border-color: var(--primary);
        box-shadow: $shadow-lg;

        i {
            color: var(--primary);
        }
    }

    &:active:focus {
        background-color: darken($white, 2%);
        border-color: var(--primary);
        box-shadow: inset 0 5px 8px -2px rgba($black, 0.08), 0 0 0 0.2rem var(--primary-lightest);

        i {
            color: var(--primary);
        }
    }

    &:focus {
        color: var(--primary);
        border-color: var(--primary);
        box-shadow: inset 0 5px 8px -2px rgba($black, 0.08), 0 0 0 0.2rem var(--primary-lightest);
    }

    i {
        transition: all 0.2s ease-in-out;
    }

    &.dropdown-toggle {
        &:focus {
            box-shadow: 0 0 0 0.2rem var(--primary-lightest);
        }
    }
}

.btn-primary.dropdown-toggle,
.dropup .btn-primary.dropdown-toggle {
    &:after {
        color: $white!important;
    }
}


.btn-primary {
    background-color: var(--primary);
    color: $white;
    font-weight: 700;
    border-color: var(--primary);

    &:hover {
        background-color: var(--primary-dark);
        color: $white;
        border-color: var(--primary-dark);
    }

    &.btn-inverse {
        background-color: var(--primary-very-light);
        border-color: var(--primary-opaque);
        color: var(--primary);
    }

    &:focus {
        border-color: var(--primary-dark);
        background: var(--primary-dark);
        color: $white;
        box-shadow: none;
    }
    
    &:active {
        border-top-color: var(--primary-dark);
        border-left-color: var(--primary-dark);
        border-right-color: var(--primary-dark);
    }
    
    &.disabled, &[disabled] {
        border-color: var(--primary);
        background-color: var(--primary);
    }
    
    &.btn-inverse {
        border-color: var(--primary);
        background: transparent;
        color: var(--primary);
        &:hover, &:focus {
            color: $white;
            background: var(--primary);
        }
        &:active {
            border-top-color: var(--primary-dark);
            border-left-color: var(--primary-dark);
            border-right-color: var(--primary-dark);
        }
    }
    
    .btn + .dropdown-toggle {
        border-left-color: var(--primary-dark);
    
        &:active {
            border-top-color: var(--primary-dark);
            border-left-color: var(--primary-dark);
            border-right-color: var(--primary-dark);
        }
    }
    
    .open > .dropdown-toggle {
        background: var(--primary-dark);
        border-color: var(--primary-dark);
    }
    
    .open > .btn + .dropdown-toggle {
        background: var(--primary-dark);
        border-color: transparent;
        border-left-color: var(--primary-dark);
    }  


    &.btn-dropdown-toggle {
        background-color: var(--primary-lighter);
        transition: none;

        &.opaque {
            background-color: var(--sucess-darker);

            &::after {
                color: $white !important;
            }
        }
    }

    &.btn-save {
        transition: none;

        &.opaque {
            background-color: var(--primary-dark);
            color: $white;
            position: fixed;
            bottom: 10px;
            right: 20px;
            z-index: $zindex-fixed;
        }
    }

    &.btn-dropdown-toggle {
        background-color: var(--primary-dark);

        &::after {
            color: $white!important;
        }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      background-color: var(--primary-dark);
      border-color:  var(--primary-dark);
      box-shadow: 0 0 0 $btn-focus-width  var(--primary-light);
  
      &:focus {
          box-shadow: 0 0 0 $btn-focus-width  var(--primary-light);
      }
    }
}

.btn-success {
    background-color: var(--success-very-light);
    color: var(--success);
    font-weight: 700;
    border-color: var(--success-opaque);

    &:hover {
        background-color: var(--success-very-light);
        color: var(--success);
        border-color: transparent;
    }

    &.btn-inverse {
        background-color: var(--success-very-light);
        border-color: var(--success-opaque);
    }

    &:focus {
        border-color: var(--success-dark);
        background: var(--success-dark);
        color: #fff;
        box-shadow: none;
    }
    
    &:active {
        border-top-color: var(--success-darker);
        border-left-color: var(--success-darker);
        border-right-color: var(--success-darker);
    }
    
    &.disabled, &[disabled] {
        border-color: var(--success);
        background-color: var(--success);
    }
    
    &.btn-inverse {
        border-color: var(--success);
        background: transparent;
        color: var(--success);
        &:hover, &:focus {
            color: #fff;
            background: var(--success);
        }
        &:active {
            border-top-color: var(--success-darker);
            border-left-color: var(--success-darker);
            border-right-color: var(--success-darker);
        }
    }
    
    .btn + .dropdown-toggle {
        border-left-color: var(--success-darker);
    
        &:active {
            border-top-color: var(--success-dark);
            border-left-color: var(--success-dark);
            border-right-color: var(--success-dark);
        }
    }
    
    .open > .dropdown-toggle {
        background: var(--success-darker);
        border-color: var(--success-darker);
    }
    
    .open > .btn + .dropdown-toggle {
        background: var(--success-darker);
        border-color: transparent;
        border-left-color: var(--success-darker);
    }  

    &:hover {
        background-color: var(--success-lighter);
        color: $success;
        border-color: var(--success-lighter);
    }

    &.btn-dropdown-toggle {
        background-color: var(--success-lighter);
        transition: none;

        &.opaque {
            background-color: var(--sucess-darker);

            &::after {
                color: $white !important;
            }
        }
    }

    &.btn-save {
        transition: none;

        &.opaque {
            background-color: var(--success-darker);
            color: $white;
            position: fixed;
            bottom: 10px;
            right: 20px;
            z-index: $zindex-fixed;
        }
    }
}

.btn-info {
    @include btn-override-mixin($info, 7%, 12%, 11%);
}

.btn-warning {
    @include btn-override-mixin($warning, 6%, 12%, 10%);
}

.btn-danger {
    background-color: transparent;
    border-color: transparent;
    color: var(--danger);
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    &:hover {
        background-color: var(--danger-very-light);
        color: var(--danger);
        border-color: transparent;
    }

    &.btn-inverse {
        background-color: var(--danger-very-light);
        border-color: var(--danger-opaque);
    }

    &:focus {
        border-color: var(--danger-dark);
        background: var(--danger-dark);
        color: #fff;
        box-shadow: none;
    }
    
    &:active {
        border-top-color: var(--danger-darker);
        border-left-color: var(--danger-darker);
        border-right-color: var(--danger-darker);
    }
    
    &.disabled, &[disabled] {
        border-color: var(--danger);
        background-color: var(--danger);
    }
    
    &.btn-inverse {
        border-color: var(--danger);
        background: transparent;
        color: var(--danger);
        &:hover, &:focus {
            color: #fff;
            background: var(--danger);
        }
        &:active {
            border-top-color: var(--danger-darker);
            border-left-color: var(--danger-darker);
            border-right-color: var(--danger-darker);
        }
    }
    
    .btn + .dropdown-toggle {
        border-left-color: var(--danger-darker);
    
        &:active {
            border-top-color: var(--danger-dark);
            border-left-color: var(--danger-dark);
            border-right-color: var(--danger-dark);
        }
    }
    
    .open > .dropdown-toggle {
        background: var(--danger-darker);
        border-color: var(--danger-darker);
    }
    
    .open > .btn + .dropdown-toggle {
        background: var(--danger-darker);
        border-color: transparent;
        border-left-color: var(--danger-darker);
    }    
}

.btn-gray {
    color: #fff;
    @include btn-override-mixin($gray-light, 10%, 15%, 11%);
}

.btn-inverse {
    background-color: var(--secondary-opaque);
    border-color: transparent;
    color: var(--secondary);
    font-weight: 700;

    i {
        opacity: 0.6;
    }

    &:hover,
    &:focus {
        background-color: var(--secondary-lightest);
        color: var(--secondary-dark);

        i {
            opacity: 0.8;
        }
    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem var(--secondary-lightest);
        background-color: var(--secondary-lighter);
    }
}

.btn-label {
    background-color: var(--secondary-opaque);
    color: var(--secondary-light);
    border-radius: 100px;

    &:hover {
        background-color: var(--secondary-opaque);
        color: var(--secondary-light);
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem var(--secondary-lighter);
    }
}

.btn-icon {
    i {
        margin-right: 0.3rem;
    }
}

.btn-text {
    color: var(--primary);
    border: none;
    background-color: transparent;

    & > i {
        margin-right: 0.2rem;
    }
}

.show > .btn-success.dropdown-toggle {
    &::after {
        color: $white;
    }
}
