.CodeMirror {
    border: 1px solid #ddd;
    z-index: 0;
    width: 100%;
}

.code-editor-with-preview-container {
    width: 100%;
}
.code-editor-with-preview-container textarea {
    max-width: 100% !important;
}
.code-editor-with-preview-container iframe {
    width: 100%;
    height: 500px;
}
