.section-navigation {
    margin-top: 4px;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.sidebar-list-item {
    display: block;
    padding: 12px 8px;
    margin-bottom: 8px;
    color: var(--text-color);
    position: relative;
    border-radius: 4px;

    &:hover, &:focus {
        color: var(--primary);
        text-decoration: none;

        i {
            opacity: 0.8;
        }
    }
    &.active {
        background: #fff;
        color: var(--primary);
        font-weight: normal;
        box-shadow: $box-shadow-sm;

        i {
            opacity: 0.8;
        }
    }
    &.errors {
        padding-right: 35px;
    }
    i {
        opacity: 0.7;
        width: 30px;
        text-align: center;
    }
}
