.sortable {
    padding:0;
    margin:0;
    list-style: none;

    li {
        display: block;
        width:100%;
        padding: 2px;
        float:left;
        line-height: 1.5;

        &:hover {
            background-color: $block-light-blue;
        }

        .btn {
            float:right;
        }

        &.sortable-ghost, 
        &.sortable-chosen {
            background-color: $primary;
            color:#fff;
            cursor: hand;
        }
        
        i {
            float:left;
            margin-right: 5px;
            font-size: 1.6rem;
            margin-top: 1px;
            cursor: move;

            &:hover {
                cursor: move;
            }

        }

        .sortable-field {
            float:left;

            input {
                display: none;
            }

            label {
                margin-bottom: 0;
                font-size: 1.4rem;
            }
        }
    }
}
