.pagination {
    padding: 0;
    box-shadow: $shadow-md;

    li.page-item {
        a.page-link {
            background-color: $white;
            color: var(--secondary);
            font-weight: 700;
            border: 0;

            &:hover {
                z-index: 0;
                color: var(--primary);
                background-color: $white;
            }
        }

        &.disabled .page-link {
            color: var(--secondary-opaque);
        }

        &.active .page-link {
            color: var(--primary);
            background-image: none;
            background-color: rgba($primary, 0.08);
        }
    }
}
