div.container-fluid.support-nav-wrap {
    &.iframe-mode {
        top: 0;
        padding-top: 50px;
        max-width: 77%;
    }

    &.notify {
        position: static;
        padding-left: 30px;
    }
}

#create-object-overlay {
    position: fixed;
    top: 0;
    right: 0%;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);

    .top-bar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 62px;
        background: $white;
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    }

    div.content-pane {
        position: absolute;
        top: 0;
        height: 100%;
        right: -100%;

        &.open {
            width: 100%;
            transition: 1s;
            transition-property: right;
            right: 0;
        }

        @include media-breakpoint-up(lg) {
            &.open {
                width: 80%;
                transition: 1s;
                transition-property: right;
                right: 0;
            }
        }

        iframe {
            float: right;
        }
    }

    a.close-btn {
        position: absolute;
        right: 30px;
        top: 20px;
        z-index: 2001;
    }
}

.content-block {
    .form-group {
        .quick-add-btn {
            cursor: pointer;
            float: left;
            position: relative;

            i.fa-plus:hover {
                color: #000;
            }

            @include media-breakpoint-up(md) {
                margin-left: 5px;
            }

            @include media-breakpoint-down(sm) {
                position: absolute;
                left: 3px;
                bottom: 0px;
            }
        }

        .edit-object-btn {
            cursor: pointer;
            float: left;
            position: relative;

            i.fa-plus:hover {
                color: #000;
            }

            @include media-breakpoint-down(sm) {
                position: absolute;
                left: 50px;
                bottom: 0px;
            }
        }
    }
}
