.select2-container {
    display: flex;
    margin-right: 0.5rem;

    @include media-breakpoint-down(md){
        width: 100%!important;
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .select2-selection {
        box-shadow: $shadow-md;
        background-image: none;
        border-color: $border-color;
        min-height: 38px;
        display: flex;
        align-items: center;
        position: relative;
        transition: all 0.15s ease-in-out;
        outline: 0;

        &:hover {
            border-color: var(--primary);
        }

        &::after {
            content: '\f078';
            font-family: 'FontAwesome';
            font-size: 0.6rem;
            color: var(--secondary-lighter);
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%) rotate(0);
            transition: all 0.15s ease-in-out;
        }

        .select2-selection__arrow {
            display: none;
        }
    }
}

span.selection {
    width: 100%;
}

span.select2-selection__placeholder,
span.select2-container--default,
span.select2-selection--single,
span.select2-selection__rendered {
    color: var(--text-color)!important;
}
span.select2-selection__rendered {
    width: 100%;
    padding-right: 2.2rem !important;

    .select2-selection__clear {
        font-size: 1.5rem;
        color: var(--secondary-lighter);
    }
}

.select2-container--default
.select2-selection--multiple
.select2-selection__clear {
    font-size: 1.5rem;
    color: var(--secondary-lighter);
    padding-right: 2.0rem !important;
    margin: 0;
}

.select2-container--open
.select2-selection {
    background-color: $white;
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2rem var(--primary-lightest);
    border-radius: 4px !important;

    &::after {
        transform: translateY(-50%) rotate(-180deg);
    }
}

.select2-dropdown {
    padding: 10px;
    border: 1px solid $border-color !important;
    box-shadow: $shadow-dropdown;
    border-radius: 4px !important;
}

.select2-dropdown--below {
    margin-top: 10px;
    @include dropdown-arrow(top-left);
}

.select2-dropdown--above {
    margin-top: -10px;
    @include dropdown-arrow(bottom-right);
}

.select2-container--default
.select2-search--dropdown
.select2-search__field {
    border: 1px solid $border-color;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 8px 12px;
    background: none;
    box-shadow: 0 4px 10px $shadow-color;
    outline: 0;
    transition: all 0.15s ease-in-out;

    &:focus {
        border: 1px solid var(--primary);
    }
}

.select2-results {
    li {
        padding: 0.55rem 0.45rem;
        border-radius: 4px;
        margin-right: 12px;
        background-color: $white;
    }
}

.select2-container--default
.select2-results__option[aria-selected=true] {
    background-color: $white;
}

.select2-container--default
.select2-results__option--highlighted[aria-selected] {
    background: var(--primary-opaque);
    color: var(--primary);
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice {
    background-color: var(--primary);
    color: $white;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    padding: 3px 4px;
    padding-right: 11px;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove {
    background-color: var(--secondary-light);
    color: $white;
    border-radius: 20px;
    padding: 0 0.4rem;
    margin-right: 5px;

    &:hover {
        background-color: $white;
    }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: var(--primary);
}

@include media-breakpoint-up(md) {
    .select2-container--default .select2-results > .select2-results__options {
        max-height: 400px;
    }
}
