.support-nav-wrap {
    z-index: 2;
    width: 100%;
    padding-left: $main-menu-width + 30px;
    padding-right: 30px;

    @include media-breakpoint-down(md) {
        padding-left: 15px;
    }

    @include media-breakpoint-down(sm) {
        position: inherit;
    }
}
body {
    &.popup {
        .support-nav-wrap {
            padding-top: 10px;
            top: 0;
        }
    }

    &.auth {
        .support-nav-wrap {
            display:none;
        }
    }
}

.support-nav {
    padding: 2em 0;

    .breadcrumbs {
        list-style: none;
        padding: 0;
        margin-bottom: 15px;
        font-size: 0.8rem;
        width: 100%;
        font-weight: normal;
        color: $text-color;

        @include media-breakpoint-up(md) {
            margin-top: -10px;
        }

        > li {
            display: inline-block;
            vertical-align: middle;

            &:after {
                content: "\2f"; // "slash"
                padding: 0 5px;
            }

            &:last-child {
                max-width: 16rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: middle;

                &:after {
                    display: none;
                }
            }
        }
        a {
            color: $text-color;

            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }

    .flex-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .main-header {
        margin: 0;

        @include media-breakpoint-up(md) {
            flex: 0 1 auto;
            margin-top: 4px;
        }

        small {
            color: lighten($text-color, 20%);
        }
    }

    .page-actions {
        &:empty {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            border: 0;
            margin-top: 0;
            padding-top: 0;
            padding-left: 40px;
            flex: 1 0 auto;
        }

        .btn-toolbar {
            display: flex;
            flex-direction: row-reverse;

            .btn-danger {
                order: 1;
            }
        }

        .btn {
            margin: 10px 10px 0px 0px;

            i {
                margin-right: 5px;
            }

            @include media-breakpoint-up(md) {
                margin: 0px 0px 0px 10px;
            }
        }

        .btn-group {
            margin: 10px 10px 0px 0px;

            @include media-breakpoint-up(md) {
                margin: 0px 0px 0px 10px;
            }

            .btn {
                margin: 0;

                &.dropdown-toggle i {
                    &:last-child {
                        margin-right: 0;
                        margin-left: 5px;
                    }

                    &.fa-chevron-down {
                        font-size: 1.2rem;
                    }
                }
            }

            .btn + .dropdown-toggle i {
                margin: 0;
                font-size: 1.2rem;
                padding: 0px 1px;

                &:last-child {
                    margin-left: 0;
                }
            }
        }

        .dropdown-menu {
            button {
                width: 100%;
                text-align: left;
                border: 0;
                cursor: pointer;
            }

            i {
                margin-right: 6px;
                text-align: center;
            }
        }
    }
}

.shuup-details {
    .suppoert-nav-wrap {
        padding-left: $main-menu-width;
    }

    .support-nav {
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 320px;

        @include media-breakpoint-up(sm) {
            max-width: 540px;
        }

        @include media-breakpoint-up(md) {
            max-width: 720px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 1140px;
        }
    }
}
