body.shepherd-active {
    &:before {
        content: " ";
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .main-menu {
        z-index: 9998;

        a {
            opacity: 0.3;
        }

        a.shepherd-enabled {
            opacity: 1;
        }
    }

    #top-header {
        z-index: 9998;

        & > * {
            opacity: 0.3;
        }

        #site-search.shepherd-enabled,
        .shop-btn.shepherd-enabled {
            opacity: 1;
        }
    }

    a.shepherd-enabled {
        z-index: 10000;
    }

    div.sidebar-list {
        a.shepherd-enabled {
            background: #fff;
            color: #35A48C;
            font-weight: normal;
        }
    }

}

.shepherd-element {
    &.has-icon {
        width: 550px;

        .step-with-icon {
            display: flex;
        }

        .icon {
            min-width: 200px;
        }
    }

    &.has-banner {
        width: 550px;

        .banner {
            min-width: 500px;
        }

        .step-with-banner {
            padding: 1rem !important;
        }
    }
}

.shepherd-content {
    .shepherd-text a {
        border: none !important;
    }

    .btn-primary {
        border-color: var(--primary) !important;
        background-color: var(--primary) !important;
    }

    .btn-primary:focus,
    .btn-primary:hover {
        border-color: darken($primary, 12%) !important;
        background-color:  darken($primary, 12%) !important;
    }
}

 a.show-tour {
     @include media-breakpoint-down(md) {
        display: none;
     }
}
