.user-account {
    padding-bottom: 50px;

    form {
        position: relative;
    }
    .btn-toolbar {
        margin-bottom: 15px;
        text-align: right;
        .btn-group {
            margin-bottom: 5px;
            @media (min-width: @screen-sm-min) {
                margin-bottom: 0;
            }
        }
    }
    .well {
        margin-bottom: 30px;
        .custom-checkbox {
            margin-top: 30px;
        }
    }
}
