{#
Render a "language-dependent content" tab block.
May be called
* with `field_names` (a list of field names to render within each tab)
* or using a `call(form, language, map) ...` block, where `map` is the `trans_name_map` for
  the given language.

When using multiple language_dependent_content_tabs in a single page, do remember to pass `tab_id_prefix`.
#}
{% macro language_dependent_content_tabs(form, field_names=[], tab_id_prefix="language") %}
<div class="language-dependent-content">
    <div class="row language-tabs">
        <div class="col-sm-8 col-sm-push-4 col-lg-6 col-lg-push-3">
            <h3 class="content-title"><i class="fa fa-language"></i> {% trans %}Language-dependent content{% endtrans %}</h3>
            <ul class="nav nav-tabs">
                {% for language in form.languages %}
                <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                    <a href="#{{ tab_id_prefix }}-{{ language }}" role="tab" data-toggle="tab">{{ form.language_names[language] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="tab-content">
        {% for language in form.languages %}
            <div class="tab-pane fade {% if loop.first %}in active{% endif %}" id="{{ tab_id_prefix }}-{{ language }}">
                {% set map = form.trans_name_map[language] %}
                {% if caller %}
                    {{ caller(form, language, map) }}
                {% else %}
                    {% for field_name in field_names %}
                        {{ bs3.field(form[map[field_name]]) }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
