{% macro order_table(orders) %}
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th class="text-right">{% trans %}Total{% endtrans %}</th>
            <th>{% trans %}Order Status{% endtrans %}</th>
            <th>{% trans %}Shipping Status{% endtrans %}</th>
            <th>{% trans %}Payment Status{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ shoop_admin.model_url(order) }}">{{ order.identifier }}</a></td>
                <td>{{ order.order_date|datetime(format="short") }}</td>
                <td class="text-right">{{ order.taxful_total_price|home_currency }}</td>
                <td>{{ order.get_status_display() }}</td>
                <td>{{ order.get_shipping_status_display() }}</td>
                <td>{{ order.get_payment_status_display() }}</td>
                <td><a href="{{ shoop_admin.model_url(order) }}"><i class="fa fa-arrow-right"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
